 <div class="modelBox">

    <div class="alertcontainer">

      <div class="alertwrapper center">

      <h4>DOD NOTICE AND CONSENT</h4>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="60" height="60"><path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" class="alerticon"></path></svg>
      <p>You are accessing a U.S. Government (USG) Information System (IS) that is provided for USG-authorized use only.</p>
      <p>By using this IS (which includes any device attached to this IS), you consent to the following conditions:</p>
      <p>-&nbsp;The USG routinely intercepts and monitors communications on this IS for purposes including, but not limited to, penetration testing, COMSEC monitoring, network operations and defense, personnel misconduct (PM), law enforcement (LE), and counterintelligence (CI) investigations.</p>
      <p>-&nbsp;At any time, the USG may inspect and seize data stored on this IS.</p>
      <p>-&nbsp;Communications using, or data stored on, this IS are not private, are subject to routine monitoring, interception, and search, and may be disclosed or used for any USG-authorized purpose.</p>
      <p>-&nbsp;This IS includes security measures (e.g., authentication and access controls) to protect USG interests--not for your personal benefit or privacy.</p>
      <p>-&nbsp;Notwithstanding the above, using this IS does not constitute consent to PM, LE or CI investigative searching or monitoring of the content of privileged communications, or work product, related to personal representation of services by attorneys, psychotherapists, or clergy, and their assistants.  Such communications and work product are private and confidential.</p>
<div class="clear"></div>

<div class="acccontain">
       <div class="accept">
         <a href="" class="close btn btn-success center">I accept</a>
    </div>

     <div class="decline">
         <a href="http://armymedicine.mil/Pages/Home.aspx" class="close btn btn-danger center">I Decline</a>
    </div>

  </div>
<div class="clear"></div>
    </div>
   
    </div>
  </div>

   <script>

 $(document).ready(function() {
  $(".overlay").show();
  $(".close").on('click', function() {
    $(".overlay").hide();
  });
});

     //    $(".green-space").on('click','.pasbaiconlink', function(){
     //      $(this).toggleClass('active').siblings().removeClass('active');
     //   })  

</script>      