<div class="col-md-4 col-sm-4" sticky-nav="ng-sticky-fixed-myapps">
                              

                        <!--       <div class="widget apps-navigation">
                                  <div class="widget-header">
                                    <h3>App Navigation</h3>
                                </div>
                                  <div class="widget-body">
                                    <ul>
                                    <li><a href="" smooth-scroll target="powered">Powered by MAP</a></li>   
                                    <li><a href="" smooth-scroll target="nonrestricted">Non Restricted</a></li>
                                    <li><a href="" smooth-scroll target="restricted">Restricted</a></li>
                                </ul>
                            </div>
                                </div> -->




                           <div class="widget">
                                <div class="widget-header">
                                    <h3>Access Request Form</h3>
                                </div>
                                <div class="widget-body">
                                  <a href="{{documents.accessrequest}}" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48"><path d="M 14 2 H 6 c -1.1 0 -1.99 0.9 -1.99 2 L 4 20 c 0 1.1 0.89 2 1.99 2 H 18 c 1.1 0 2 -0.9 2 -2 V 8 l -6 -6 Z m 2 16 H 8 v -2 h 8 v 2 Z m 0 -4 H 8 v -2 h 8 v 2 Z m -3 -5 V 3.5 L 18.5 9 H 13 Z" /></svg></a>
                                
                                </div>
                            </div>

                            <div class="widget">
                                <div class="widget-header">
                                    <h3>SAV (Staff Assistance Visit)</h3>
                                </div>
                                <div class="widget-body">
                                  <a href="{{documents.sav}}" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48"><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"></path></svg></a>
                                
                                </div>
                            </div>
                            <div class="widget">
                                <div class="widget-header">
                                    <h3>New Items</h3>
                                </div>
                                <div class="widget-body">
                                    <a href="../MAP" target="_blank"><h4>MAP is now live</h4>
                                    <img src="content/images/MAP-logo.png"></a>
                                    <p>MEDCOM360 Analytics Platform is a web-based application that provides a single source for a host of metrics reporting and metric analysis capabilities from various MEDCOM clinical service lines</p></a>
                                    <h2 ng-click="showmodalmapmodel('lg')" class="maplearn"><a href="" class="learnmore">Learn More</a></h2>
                                    <h2 class="mapvisit"><a href="../map" class="learnmore" target="_blank">Visit MAP</a></h2>
                                </div>
                            </div>
                           <div class="widget">
                                <div class="widget-header">
                                    <h3>MEDCOM Annual&nbsp;FY&nbsp; Report</h3>
                                </div>
                                <div class="widget-body">
                                    <a href="content/documents/MedComAnnualFYREPORT.pptx" target="blank"><img src="content/images/calendar.svg" class="calendar"></a>
                                </div>
                            </div>
                          
                        </div>
                    </div>


