<div class="row">



                        <div class="col-md-8 col-sm-8">

                              <div class="section-header">
                                        <h2>My Apps</h2>

                                    </div>

                            <div class="row person-wrapper">
                            <!-- <div class="filter">
                                <input type="text">
                            </div> -->

                            <div class="restrict-status">
                                    <h4>Non Restricted Applications</h4>
                                    
                            </div>

                            <div id="person-contain">
                                <div class="col-xs-4 col-sm-3 icon-word"  ng-repeat="app in unrestrictapps">
                                    <div class="shortcut {{app.classname}}" data-toggle="tooltip">
                                        <a href="category.html"><img ng-src="{{app.icon}}"></a>
                                    </div>

                                    <a href="category.html"><h3>{{app.name}}</h3></a>

                                </div>
                                

                                <div class="clear"></div>


<!-- Restricted Applications -->
                                <div class="restrict-status">
                                    <h4>Restricted Applications</h4>
                                    
                            </div>
                                  <div test-test ng-if="test != 'true'"></div>
                                
                                  <div class="col-xs-4 col-sm-3 icon-word" ng-repeat="restrict in restrictedapps">
                                   <!--  <img src="content/images/pasbaapps-icons/lock.svg" class="lock"> -->

                                   
                                   
                                    <div class="shortcut {{restrict.color.color}}">
                                        <a href="{{restrict.TokenLink}}"><img ng-src="{{restrict.color.icon}}"></a>
                                        
                                        
                                    </div>
                                    <a href="{{restrict.TokenLink}}"><h3>{{restrict.TokenName}}</h3></a>
                                </div>

                                
                                  </div>
                            </div>
                        </div>

                        

                        <home-widget panel="panelMyApps"></home-widget>






                           


                        

                   