<div class="row">
                        <div class="col-md-8 col-sm-8">

                              <div class="section-header">
                                        <h2>My Apps</h2>
                                    </div>

                            <div class="row person-wrapper">
                            <!-- <div class="filter">
                                <input type="text">
                            </div> -->

                            <div class="restrict-status">
                                    <h4>Non Restricted Applications</h4>
                            </div>

                            <div id="person-contain">
                                <div class="col-xs-4 col-sm-3 icon-word">
                                    <div class="shortcut color1">
                                        <a href="category.html"><img src="content/images/icons/notes.svg"></a>
                                    </div>

                                    <a href="category.html"><h3>CARA</h3></a>

                                </div>
                                 <div class="col-xs-4 col-sm-3 icon-word">
                                    <div class="shortcut color2">
                                        <a href="category.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48"><path d="M 19 3 H 5 c -1.1 0 -2 0.9 -2 2 v 14 c 0 1.1 0.9 2 2 2 h 14 c 1.1 0 2 -0.9 2 -2 V 5 c 0 -1.1 -0.9 -2 -2 -2 Z M 9 17 H 7 v -7 h 2 v 7 Z m 4 0 h -2 V 7 h 2 v 10 Z m 4 0 h -2 v -4 h 2 v 4 Z" /></svg></a>
                                    </div>
                                     <a href="category.html"><h3>CHUP</h3></a>
                                </div>
                                 <div class="col-xs-4 col-sm-3 icon-word">
                                    <div class="shortcut color3">
                                        <a href="category.html"><img src="content/images/icons/caper.svg"></a>
                                        
                                        
                                    </div>
                                    <a href="category.html"><h3>CAPER Reports</h3></a>
                                </div>
                                 <div class="col-xs-4 col-sm-3 icon-word">
                                    <div class="shortcut color4">
                                        <a href="category.html"><img src="content/images/icons/dqmcp.svg"></a>
                                     
                                        
                                    </div>
                                       <a href="category.html"><h3>DQMCP</h3></a>
                                </div>
                                 <div class="col-xs-4 col-sm-3 icon-word">
                                    <div class="shortcut color5">
                                        <a href="category.html"><img src="content/images/icons/eod.svg"></a>
                                        
                                        
                                    </div>
                                    <a href="category.html"><h3>WISPR</h3></a>
                                </div>
                                 <div class="col-xs-4 col-sm-3 icon-word">
                                    <div class="shortcut color6">
                                        <a href="category.html"><img src="content/images/icons/ipsr.svg"></a>
                                        
                                        
                                    </div>
                                    <a href="category.html"><h3>MEDCOM360</h3></a>
                                </div>
                                
                               

                                 <div class="col-xs-4 col-sm-3 icon-word">
                                    <div class="shortcut color7">
                                        <a href="../map" target="_blank"><img src="content/images/icons/M.svg"></a>
                                       
                                        
                                    </div>
                                         <h3>MAP</h3>
                                </div></a>



                                 <div class="col-xs-4 col-sm-3 icon-word">
                                    <div class="shortcut color8">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48"><path d="M 12 12 c 2.21 0 4 -1.79 4 -4 s -1.79 -4 -4 -4 s -4 1.79 -4 4 s 1.79 4 4 4 Z" /><path d="M 12 14 c -2.67 0 -8 1.34 -8 4 v 2 h 16 v -2 c 0 -2.66 -5.33 -4 -8 -4 Z" /></svg></a>
                                        
                                    </div>
                                        <a href="category.html"><h3>Commanders Corner</h3></a>
                                </div>

                                <div class="clear"></div>


<!-- Restricted Applications -->
                                 <div class="restrict-status">
                                    <h4>Restricted Applications</h4>
                            </div>

                                
                                  <div class="col-xs-4 col-sm-3 icon-word">
                                    <img src="content/images/pasbaapps-icons/lock.svg" class="lock">
                                    <div class="shortcut color11">
                                        <a href="category.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48"><path d="M22 6.92l-1.41-1.41-2.85 3.21C15.68 6.4 12.83 5 9.61 5 6.72 5 4.07 6.16 2 8l1.42 1.42C5.12 7.93 7.27 7 9.61 7c2.74 0 5.09 1.26 6.77 3.24l-2.88 3.24-4-4L2 16.99l1.5 1.5 6-6.01 4 4 4.05-4.55c.75 1.35 1.25 2.9 1.44 4.55H21c-.22-2.3-.95-4.39-2.04-6.14L22 6.92z"></path></svg></a>
                                    </div>
                                    <a href="category.html"><h3>Behavioral Health (EATC) Metric</h3></a>
                                </div>

                                  <div class="col-xs-4 col-sm-3 icon-word">
                                    <img src="content/images/pasbaapps-icons/lock.svg" class="lock">
                                    <div class="shortcut color12">
                                        <a href="category.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48"><path d="M2 17h2v.5H3v1h1v.5H2v1h3v-4H2v1z"></path><path d="M3 8h1V4H2v1h1v3z"></path><path d="M2 11h1.8L2 13.1v.9h3v-1H3.2L5 10.9V10H2v1z"></path><path d="M7 5v2h14V5H7z"></path><path d="M7 19h14v-2H7v2z"></path><path d="M7 13h14v-2H7v2z"></path></svg></a>
                                        
                                        
                                    </div>
                                    <a href="category.html"><h3>CARA</h3></a>
                                </div>

                                  <div class="col-xs-4 col-sm-3 icon-word">
                                    <img src="content/images/pasbaapps-icons/lock.svg" class="lock">
                                    <div class="shortcut color13">
                                        <a href="category.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48"><path d="M11 2v20c-5.07-.5-9-4.79-9-10s3.93-9.5 9-10z"></path><path d="M13.03 2v8.99H22c-.47-4.74-4.24-8.52-8.97-8.99z"></path><path d="M13.03 13.01V22c4.74-.47 8.5-4.25 8.97-8.99h-8.97z"></path></svg></a>
                                        
                                        
                                    </div>
                                    <a href="category.html"><h3>CHUP</h3></a>
                                </div>

                                  <div class="col-xs-4 col-sm-3 icon-word">
                                    <img src="content/images/pasbaapps-icons/lock.svg" class="lock">
                                    <div class="shortcut color14">
                                        <a href="category.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48"><circle cx="7.2" cy="14.4" r="3.2"></circle><circle cx="14.8" cy="18" r="2"></circle><circle cx="15.2" cy="8.8" r="4.8"></circle></svg></a>
                                        
                                        
                                    </div>
                                    <a href="category.html"><h3>Clinical Ops Metrics</h3></a>
                                </div>

                                  <div class="col-xs-4 col-sm-3 icon-word">
                                    <img src="content/images/pasbaapps-icons/lock.svg" class="lock">
                                    <div class="shortcut color15">
                                        <a href="category.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z"></path></svg></a>
                                        
                                        
                                    </div>
                                    <a href="category.html"><h3>Coding Help Desk</h3></a>
                                </div>

                                  <div class="col-xs-4 col-sm-3 icon-word">
                                    <img src="content/images/pasbaapps-icons/lock.svg" class="lock">
                                    <div class="shortcut color16">
                                        <a href="category.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48"><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"></path></svg></a>
                                    </div>
                                    <a href="category.html"><h3>DQMCP Program (.NET)</h3></a>
                                </div>






                                
                                    </div>
                            </div>
                        </div>

                           


                        <div class="col-md-4 col-sm-4">
                           <div class="widget">
                                <div class="widget-header">
                                    <h3>Access Request Form</h3>
                                </div>
                                <div class="widget-body">
                                  
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48"><path d="M 14 2 H 6 c -1.1 0 -1.99 0.9 -1.99 2 L 4 20 c 0 1.1 0.89 2 1.99 2 H 18 c 1.1 0 2 -0.9 2 -2 V 8 l -6 -6 Z m 2 16 H 8 v -2 h 8 v 2 Z m 0 -4 H 8 v -2 h 8 v 2 Z m -3 -5 V 3.5 L 18.5 9 H 13 Z" /></svg>
                                
                                </div>
                            </div>

                            <div class="widget">
                                <div class="widget-header">
                                    <h3>SAV (Staff Assistance Visit)</h3>
                                </div>
                                <div class="widget-body">
                                  
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48"><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"></path></svg>
                                
                                </div>
                            </div>
                            <div class="widget">
                                <div class="widget-header">
                                    <h3>New Items</h3>
                                </div>
                                <div class="widget-body">
                                    <a href="../MAP" target="_blank"><h4>MAP is now in production</h4>
                                    <img src="content/images/MAP-logo.png"></a>
                                    <p>MEDCOM360 Analytics Platform is a web-based application that provides a single source for a host of metrics reporting and metric analysis capabilities from various MEDCOM clinical service lines</p></a>
                                </div>
                            </div>
                           <div class="widget">
                                <div class="widget-header">
                                    <h3><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48"><path d="M 12 2 C 6.48 2 2 6.48 2 12 s 4.48 10 10 10 s 10 -4.48 10 -10 S 17.52 2 12 2 Z m 1 17 h -2 v -2 h 2 v 2 Z m 2.07 -7.75 l -0.9 0.92 C 13.45 12.9 13 13.5 13 15 h -2 v -0.5 c 0 -1.1 0.45 -2.1 1.17 -2.83 l 1.24 -1.26 c 0.37 -0.36 0.59 -0.86 0.59 -1.41 c 0 -1.1 -0.9 -2 -2 -2 s -2 0.9 -2 2 H 8 c 0 -2.21 1.79 -4 4 -4 s 4 1.79 4 4 c 0 0.88 -0.36 1.68 -0.93 2.25 Z" /></svg>Helpful Resources</h3>
                                </div>
                                <div class="widget-body">
                                    <ul class="trends">
                                        <li><a href="#">Deployment Guide for PAD personnel </li>
                                        <li><a href="#">Medical Record - how can I get it?</li>
                                        <li><a href="#">AMEDD ICD-10 Transition is under way! </li>
                                        <li><a href="#">link</li>
                                    </ul>
                                </div>
                            </div>
                          
                        </div>
                    </div>

                   