<div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.home}}</h2>
                                    </div>


<div class="row person-wrapper">

	<div class="intro-image">
		<img ng-src="{{pageimage.introimage}}" class="animated slideInUp">
<p>{{title.home}}</p>
	</div>
	<div class="content-right">



<p>A considerable amount of data quality research involves investigating and describing various attributes of data quality.  Data quality suggests correctness of data.  Various organizations and individuals have identified hundreds of data quality attributes.</p>

<p>When the Patient  Administration Systems and Biostatistics Activity began determining those data quality attributes believed to be important, it consulted with Professor Richard Wang, Co-Director for the Total Data Quality Management Program, at the Massachusetts Institute of Technology.</p>
<div class="clear"></div>



<p> We determined the data quality attributes listed below give a true picture of data quality:</p>
<ul class="linkinline">
 <li>Correctness or Validity</li>
        <li>Reliability</li>
        <li>Completeness</li>
        <li>Legibility</li>
        <li>Currency</li>
        <li>Timeliness</li>
        <li>Meaning</li>
        <li>Accessibility</li>

</ul>


</div> <!-- end content right -->
</div>
</div>  
 <dq-widget></dq-widget>