<div class="col-md-4 col-sm-4" sticky-nav="ng-sticky-fixed">

 							 <div class="widget">
                                <div class="widget-header">
                                    <h3>DMRPC Guide</h3>
                                </div>
                                <div class="widget-body apps-navigation">
                                    <h4>Guidance</h4>
                                  <ul ng-repeat="word in navigation">
                                    <li><a ng-href="#/{{word.link}}" ng-click="getdestination()" ng-class="{activelink: isActive('/{{word.link}}')}">{{word.name}}</a></li>
                                   

                                </ul>
                                    <h4>Counterintelligence Assist</h4>
                                <ul> 
                                    <li><a href="https://www.inscom.army.mil/isalute">iSALUTE</a></li>
                                </ul>

                               <!--  <ul>Counterintelligence Assist
                                    <li>iSALUTE</li>
                                    </ul> -->
                                </div>
                            </div>


                             <div class="widget">
                                <div class="widget-header">
                                    <h3>References</h3>
                                </div>
                                <div class="widget-body apps-navigation">
                                   
                                  <ul ng-repeat="word in references">
                                    <li><a ng-href="{{word.link}}" target="_blank" ng-click="getdestination()" ng-class="{activelink: isActive('/{{word.link}}')}">{{word.name}}</a></li>
                                </ul>
                                </div>
                            </div>

                         
                            <div class="widget">
                                <div class="widget-header">
                                    <h3>Downloads and Forms</h3>
                                </div>
                                <div class="widget-body links" ng-repeat="form in documents">

                                    <ul>
                                        <li><a href="{{form.link}}" target="_blank">{{form.name}}</a></li>
                                  </ul>
                                    <!-- <a href="{{documents.recordsrequest}}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48"><path d="M19 9h-4V3H9v6H5l7 7 7-7z"></path><path d="M5 18v2h14v-2H5z"></path></svg></a> -->
                                
                                </div>
                            </div>
                          

                        </div>
