 <div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>Medical Records Request Instructions</h2>
                                    </div>


<div class="row person-wrapper">


<div class="intro-image">
		<img ng-src="{{pageimage.instructions}}" class="animated slideInUp">
		<p>Medical Records Request Instructions</p>
</div>


	<div class="content-right">
<!-- <p>In order to facilitate the release of medical records, PASBA will follow this procedure:</p> -->



<h4>When a copy of a medical record is requested from PASBA:</h4>
<ul>
	<li>PASBA personnel will first verify possession of the medical record.</li>


<li>If the record is in PASBA's custody, the requestor will complete the DD Form 2870 (DD 2870, Authorization for Disclosure of Medical or Dental Information, December 2003) and have the service member sign the form authorizing release of medical information. The requestor must provide detailed information describing specifically what information is being requested (what episode of care) and why that information is needed (i.e. UCMJ, Medical Board Processing, Separation Processing), particularly if the service member refuses to sign the request.</li>



<li>Once PASBA receives the signed authorization form, the HIPAA Privacy Officer will review and verify the authenticity of the request and identity of the requestor. After all requirements are fulfilled, the HIPAA Privacy Officer will approve record duplication. PASBA will forward the duplicate to the requestor. A copy of DD Form 2870 will be placed in the service member's medical record documenting this action.</li>


<li>The requestor may be directed to contact the National Personnel Records Center (NPRC) in the event that the medical record has been retired. The Requestor may also be directed to the military treatment facility they were seen at in theater if PASBA has no record of receiving the medical record.</li>


<li>The Fort Sam Houston Staff Judge Advocate (SJA) will review all medical records requested from outside entities. Once SJA has approved this request, PASBA will duplicate the medical record and mail the duplicate to the requesting party. A copy of DD Form 2870 will be placed in the service member's medical record documenting this action.</li>
</ul>


<h2 data-aos="fade-right" data-aos-offset="1">AR 40-66</h2>
<p>Army Regulation 40-66, Chapter 2 explains DA policies and procedures governing the release of medical information or medical records pertaining to individual patients. DA policy mandates that the confidentiality of patient medical information and medical records be protected to the fullest extent.</p> 

<p>There may be instances when the patient or other agency (SJA Officer, soldier's commander, MTF's case worker, etc.) requires copies of the medical records from deployments. Because the inpatient record is only at PASBA for a short time, there is a possibility the record may not be at PASBA when the request is made. PASBA will follow the procedure described above when processing requests for a medical record.</p>
<div class="clear"></div>
<div class="center" data-aos="fade-right" data-aos-offset="1">
<h3>For requests, problems, or assistance contact:</h3>

<p>Records Requests, (210) 295-8921; DSN: 421; OCONUS DSN: 312</p>
<p>E-Mail Address: <a href="mailto:usarmy.jbsa.medcom-pasba.list.PASBA-Record-Request@mail.mil">usarmy.jbsa.medcom-pasba.list.PASBA-Record-Request@mail.mil</a></p>
<p>Fax Num. 221-9016 DSN 471</p>

</div>
<div class="clear"></div>

<p>To suggest corrective action contact:

Chief, HIMS - PASBA, (210) 221-0471; DSN: 471; OCONUS DSN: 312


For further information contact the <a href="http://www.archives.gov/st-louis/" target="_blank">National Personnel Records Center (NPRC), Saint Louis, MO .</a></p>



</div> <!-- end content right -->

</div> <!--  end person wrapper -->
</div> <!--  end colspan -->

<dmrpc-widget></dmrpc-widget>