<div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.regulate}}</h2>
                                    </div>


<div class="row person-wrapper">


<div class="intro-image">
		<img ng-src="{{pageimage.regulate}}" class="animated slideInUp" alt="Medical Regulating">
		<p>{{title.regulate}}</p>
</div>


	<div class="content-right">
<h4 data-aos="fade-zoom-in">Patient Evacuation and Medical Regulating</h4>
<p data-aos="fade-zoom-in">Medical Regulating is a casualty-management system designed to coordinate the movement of patients - from the site of injury or onset of disease - through successive echelons of medical care to medical treatment facilities that can provide appropriate levels of medical treatment.</p>


<h4 data-aos="fade-zoom-in">Theater Evacuation Policy</h4>
<ul data-aos="fade-zoom-in">

<p>The Evacuation policy is set by the Secretary of Defense with advice from the Joint Chiefs of Staff and recommendations from the Theater Commander.  The policy establishes, in number of days, the maximum period of non-effectiveness (hospitalization and convalescence) that patients may be held within the theater for treatment.</p> 
</ul>
<div class="clear"></div>



<div class="row">
<div class="col-sm-8 pull-left" data-aos="fade-right">
<h4>Personnel Affected by Theater Evacuation Policy</h4>


<p>The Evacuation Policy can affect many key players such as Medical and Dental Providers,Patient Administration Division (PAD), Health Services Support (HSS) planner, Non-medical Logistician, Air Force (plane mobilization) and the Combat Health Support (CHS) operator.  All play an intricate role in the management and movement of patients with in the evacuation process.</p>


<h4>Short vs. Long Evacuation Policy and Impacting Factors</h4>
<p>A Short evacuation policy consist of fewer hospital beds, a greater demand for evacuation assets, increased requirement for replacements with a decrease in the number of patients that are Return to Duty (RTD).  The Long evacuation policy requires a larger CHS structure in theater, increased hospital construction thus allowing for an increased RTD.</p>

<p>Mission, Enemy, Terrain and Weather, Troops and Support Available, Time Available, and Civil Considerations (METT-TC), number and type of patients, available evacuation assets, availability of replacements and in theater resources are all factors that impact both policies.</p>

<h4>Planning and Executing Patient Evacuation and Medical Regulating</h4>


<p>Planning and executing patient movement/Medical Regulating requires several factors to be taken into consideration therefore coordination must be careful and very detailed.  Communication between the Army, Air Force and Navy is paramount.  All services play an intricate roll in this process; therefore, formal documentation of this policy can be reviewed at:  <a href="dmrpcsection/documents/FM-855.pdf" class="info" target="_blank">FM-855 Chapter 4</a>, “Patient Evacuation and Medical Regulating.”</p>
</div>

<div class="col-sm-4 pull-left" data-aos="fade-left">
<div class="body-image">
<img src="dmrpcsection/images/affected.svg">
</div>
</div>
</div>


</div>
</div><!-- end of row -->















</div>

</div> <!-- end content right -->

</div>




<dmrpc-widget></dmrpc-widget>