<div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.regulate}}</h2>
                                    </div>


<div class="row person-wrapper">


<div class="intro-image">
		<img ng-src="{{pageimage.regulate}}" class="animated slideInUp" alt="Medical Regulating">
		<p>{{title.regulate}}</p>
</div>


	<div class="content-right">

<p data-aos="fade-zoom-in">Medical Regulating is a casualty-management system designed to coordinate the movement of patients - from the site of injury or onset of disease - through successive echelons of medical care to medical treatment facilities that can provide appropriate levels of medical treatment.</p>


<h4 data-aos="fade-zoom-in">Theater Evacuation Policy</h4>
<ul data-aos="fade-zoom-in">

<li>Establishes, in number of days, the maximum period of non-effectiveness (hospitalization and convalescence) that patients may be held within the theater for treatment.</li>


<li>The evacuation policy is set by the Secretary of Defense with advice from the Joint Chiefs of Staff and recommendations from the Theater Commander.</li>


<li>The period starts when a patient is admitted to a corps-level hospital. </li>
</ul>

<div class="divider"></div>


<div class="row">
<div class="col-sm-6" data-aos="fade-right">
<h4>Specific Personnel Affected by Theater Evacuation Policy</h4>


<ul>
<li>Direct health-care provider - must determine if patient can remain in theater and be returned to unit.</li>


<li>Patient Administrator (PAD) - bed management and coordination for movement of patients affected by evacuation policy.</li>


<li>Combat health support planner - evacuation policy used to determine health service support needs (number and types of hospitals, evacuation battalions, etc.) 
Non-medical logisticians - must support the health service support elements.</li>


<li>Air Force - policy determines number of airplanes needed to support operation.</li>


<li>Combat Health Support (CHS) operator - policy affects how CHS operator supports the force.</li>
</ul>

</div>

<div class="col-sm-6" data-aos="fade-left">
<div class="body-image">
<img src="dmrpcsection/images/affected.svg">
</div>
</div>
</div>





<div class="row">

<div class="col-sm-6 pull-right" data-aos="fade-left">
<h4>Factors Determining the Evacuation Policy</h4>


<ul>
<li>Mission, Enemy, Terrain, Troops and Time (METT-T)</li>


<li>Patient Administrator (PAD) - bed management and coordination for movement of patients affected by evacuation policy.</li>


<li>Evacuation assets available</li>


<li>Availability of replacements</li>


<li>Availability of replacements resources</li>
</ul>

</div>

<div class="col-sm-6" data-aos="fade-right">
<div class="body-image">
<img src="dmrpcsection/images/time.svg">
</div>
</div>

</div>

<div class="row" data-aos="fade-right">
<div class="col-sm-6">
<h4>Impact of Evacuation Policy on CHS Requirements</h4>


<ul>
<li>Short Evacuation Policy
	<ol>
		 <li>Fewer hospital beds required in theater</li>
	          <li>Greater demand for evacuation assets</li>
	          <li>Increases requirements for replacements</li>
	          <li>Decreased Returned to Duty (RTD)</li>
	      </ol>
	  </li>

	  <li>Long Evacuation Policy
	  		<ol>
	  			<li>Larger CHS structure in TO</li>
	      <li>Increased RTD</li>
	      <li>Increased requirements for hospital construction and engineer support, etc.</li>
	  </ol>
	</li>
</ul>


</ul>

</div>

<div class="col-sm-6" data-aos="fade-left">
<div class="body-image">
<img src="dmrpcsection/images/impact.svg">
</div>
</div>




</div><!-- end of row -->


<div class="row" data-aos="fade-right">
<div class="col-sm-6">
<h4>Adjustments to Evacuation Policy</h4>

<ul>

          <li>May be adjusted to retain or RTD those patients who do not require treatment in an EAC (echelon above corps) hospital</li>
          <li>Adjusted when increased patient loads are anticipated in order to make additional beds available</li>
</ul>

</div>


<div class="col-sm-6" data-aos="fade-left">
<h4>Planning for Medical Regulating</h4>

<ul>

         <li>Must be careful and detailed between three military Services; Army, Air Force, and Navy.</li>
		<li>Patient requires continuous care during evacuation.</li>
		<li>AMEDD relies on the Air Force and the Navy for long-range evacuation.<br/><br/></li>
</ul>

</div>

<div class="col-sm-6" data-aos="fade-right">
<h4>PControl:  Medical-regulating responsibilities:</h4>

<ul>

         <li>Tactical - Service MRO</li>
		<li>Theater - Joint Medical Regulating Office</li>
		<li>CONUS - Global Patient Movement Requirement Center (GPMRC)</li>
</ul>

</div>




<div class="col-sm-6" data-aos="fade-left">
<h4>Factors in Medical Regulating</h4>

<ul>

        <li>Careful control of patient evacuation to hospitals is necessary to effect an appropriate distribution of cases</li>
		<li>Establish adequate beds for current and anticipated needs</li>
		<li>Route patients requiring specialty treatment to the proper MTF</li>
</ul>

</div>


<div class="col-sm-6" data-aos="fade-right">
<h4>Medical Regulating Terminology</h4>

<ul>

      <li>Intratheater Medical Regulating (Corps to EAC) - the system by which patients are transferred or evacuated from one hospital to another within the theater of operations</li>
	  <li>Intertheater Medical Regulating (EAC to ZI) - the system by which patients are evacuated from hospitals located in the TO to hospitals located in the Zone of the Interior (CONUS)</li> 
</ul>

</div>

<div class="col-sm-6">
<h4>Informal Medical Regulating/Tracking</h4>

<ul>

      <li>Company aid post (CAP) to battalion aid station (BAS)</li>
	  <li>BAS to forward support medical company (FSMC)</li>
	  <li>FSMC via DMOC coordination to MTF </li> 
</ul>


</div>


<div class="clear"></div>

<h3>Formal Medical-Regulating Personnel and Agencies</h3>
<div class="divider"></div>


<div class="col-sm-6">
<h4>Patient Administration Personnel (70E/71G) located in the corps hospitals </h4>

<ul>

     <li>Consolidate evacuation requests</li>
	<li>Track patient status, operating room status, bed status, and clinical service</li>
	<li>Send reports to appropriate MRO</li>
</ul>

</div>


<div class="col-sm-6">
<h4>Medical Regulating Officer (MRO)</h4>

<ul>

    <li>Receives and consolidates evacuation requests initiated by DMOC, area support medical battalions (ASMB) or subordinate hospitals</li>
	<li>Determines what resources are available to move the patients and coordinates for the use of these assets</li>
	<li>Maintains current patient status, bed status, and surgical backlog at subordinate hospitals</li>
	<li>Located in Medical Groups/Brigades</li>
</ul>

</div>

<div class="col-sm-6">
<h4>Joint Medical Regulating Office (JMRO)</h4>

<ul>

     <li>Joint agency consisting of elements of two or more services established to regulate the movements of patients within TO and to CONUS</li>
	<li>Maintains direct liaison with the GPMRC.  Functions as part of the Unified Command Surgeon's office</li>
	<li>Accepts requests for beds from Service regulating offices</li>
</ul>


</div>

<div class="col-sm-6">
<h4>Global Patient Movement Requirements Center (GPMRC)</h4>

<ul>

    <li>Identify patient movement requirements and validate movement requests.</li>
	<li>Allocate beds and airlift to Theaters</li>
	<li>Collaborate with JMRO/AECC</li>
	<li>Communicate requirements to resource providers (MTF, VA)</li>
	<li>Provide in-transit visibility for patients</li>
</ul>


</div>


<div class="col-sm-6">

<h4>Additional Medical Regulating Considerations in the Theater</h4>
<ul>
	<li>Unified Commander is responsible for evacuation of formerly captured/detained US military personnel.</li>


	<li>Unified Commander is responsible for evacuation of EPW, civilian internees, other detainees, and civilian patients. </li>
</ul>

</div>

<div class="clear"></div>

<h3>DoD Policy on Aeromedical Evacuation</h4>

<p>In both peace and war, the movement of patients of the armed forces will be accomplished by airlift, if available and conditions are suitable for aeromedical evacuation, unless medically contraindicated.</p>

<div class="clear"></div>


<div class="col-sm-6">

<h4>Responsibilities of Aeromedical Evacuation </h4>
<ul>
	<li>Air Combat Command (ACC) is responsible for providing airframes in support of  intratheater</li> aeromedical evacuation while Air Mobility Command (AMC) supports intertheater aeromedical evacuation.</li>
	<li>The Army component commander is responsible for providing medical evacuation by organic Army aircraft within the combat zone.</li>
	<li>The Navy overseas component commander is responsible for providing medical evacuation over routes solely of interest to the Navy, where the facilities of the Air Force cannot provide this service.</li>
</ul>

</div>

<div class="col-sm-6">

<h4>Three subsystems of aeromedical evacuation:</h4>
<ul>
	<li>Theater Aeromedical Evacuation System (TAES) (intratheater)</li>
	<li>Strategic Aeromedical Evacuation System (intertheater)</li>
	<li>Domestic Aeromedical Evacuation System</li>
</ul>

</div>


<div class="clear"></div>

<h3>Theater Aeromedical Evacuation System </h3>



<div class="col-xl-8">

<p>That phase of aeromedical evacuation which provides airlift for patients between points of treatment within and from the combat zone to points outside the combat zone.</p>  <h4>Characteristics Include:</h4>
<ul>
	<li>Use of short-range cargo aircraft, i.e. C-130 (70 litter or 85 ambulatory).</li>
	<li>Limited treatment capability.</li>
	<li>Normally non-dedicated aircraft</li>
</ul>

</div>

<div class="clear"></div>


<h3>Aeromedical Evacuation Elements</h3>



<div class="col-xl-8">

<p>The AE system does not own any aircraft.  AE movements are requested through the AECC like any other air movements.</p> 
<h4>AE elements include:</h4>
<ul>
	<li>Responsible for the overall planning, coordinating, and directing of AE operations</li>
	<li>AECC is a function of and collocates with the Airlift Operations Center (AOC).  AOC serves as the theater’s command and control function for airlift operations.</li>
	<li>AECC function may be integrated with the theater medical regulating function into a Theater Patient Movements Requirements Center (TPMRC).</li>
</ul>

</div>
<div class="clear"></div>

<div class="col-xl-8">

<h4>Aeromedical Evacuation Liaison Team (AELT)</h4>
<ul>
	<li>Collocated with user Service (usually with the MRO) to ensure a smooth patient flow.</li>
	<li>May be collocated directly with an MTF or at any other level of command.</li>
	<li>Communication link between user Service and the AE system.</li>
	<li>Coordinates casualty movement requests and subsequent movement activity between the Aeromedical Evacuation Control Center (AECC) and the user Service.</li>
	<li>Monitors flights (status), ensuring user Service is aware of patient requirements and that patient is properly prepared for AE.</li>
	<li>Determine time factors involved for the user service to transport casualties to the designated staging facility and; coordinate patient transfer information with the staging facility.</li>
	<li>Determine and report requirements for special equipment and/or medical attendants to accompany casualties during flight.</li>
</ul>

</div>
<div class="clear"></div>

<div class="col-xl-8">

<h4>Aeromedical Evacuation Crews.</h4>
<ul>
	<li>The usual crew is two flight nurses and three aeromedical evacuation technicians (no physicians).  Crew may be tailored as the mission dictates.</li>
	<li>Provide in-flight nursing medical care.</li>
	<li>Control and monitor patient embarking and disembarking and ensure aircraft is properly configured.</li>
	<li>Prepare patients for evacuation and ensure patient evacuation manifests are completed.</li>
</ul>

</div>
<div class="clear"></div>

<div class="col-xl-8">

<h4>Mobile Aeromedical Staging Facility (MASF)</h4>
<ul>
	<li>Air-transportable temporary holding facilities equipped and staffed to receive patients, sustain life, and administratively process patients. Normally located near the runways or taxiways of airfields or forward operating bases used by tactical airlift to supply combat forces.</li>
	<li>Entry point of patients into the Air Force AE system</li>
	<li>Authorized strength of 39 personnel, including flight nurses, aeromedical technicians, radio operators and ground ramp operators (No physicians authorized but can be augmented as required).  Secondary tasking is to provide the personnel to generate two AE crews.</li>
	<li>Staffed to hold 50 patients at a time for two to six hours.  Not intended to hold patients overnight.</li>
	<li>No organic patient transportation or patient food service.  Special supplies/equipment provided by the MTF.</li>
	<li>Performs the following:</li>
</ul>

</div>


<div class="col-xl-8">


<ul>
	<li>Receives casualties designated for aeromedical evacuation from user-Service forward medical elements.</li>
		<li>Provides supportive nursing care to casualties awaiting airlift.</li>
		<li>Prepares patient manifests (if not yet accomplished by the user service), patient aircraft load plans, and other administrative support on a limited basis.</li>
		<li>Assists AE crew in configuring the aircraft to receive litter and ambulatory patients.
		<li>Notifies AECC when an AE aircraft has departed.</li>
		<li>Provides status/capability reports to AECC.</li>
		<li>Functions as an Aeromedical Evacuation Operations Team (AEOT) when an AEOT is not collocated.</li>
</ul>

</div>
<div class="clear"></div>


<div class="col-xl-8">

<h4>Originating MTF must provide the following:</h4>
<ul>
	<li>Patient transportation to and from the airfield</li>
	<li>Special supplies and equipment required for patients in flight, i.e. dressings, medications, litter straps, blankets, and MRE.  Amount is normally a three-day supply for intratheater and five days for intertheater evacuations.</li>
	<li>Any required guards or attendants (medical or non-medical).</li>
	<li>Air Force does not provide a property (i.e., litter) exchange.</li>
</ul>

</div>
<div class="clear"></div>

<h3>Strategic Aeromedical Evacuation System (intertheater)</h3>

<p>Provides patient evacuation between the theater of operations (TO) and another theater or CONUS.</p>


<div class="col-sm-6">

<h4>C-17</h4>
<ul>
	<li>Planning factor is 36 litter and 54 ambulatory patients and attendants. Medical crew can be augmented as necessary. </li>
	<li>Normally non-dedicated aircraft</li>
</ul>

</div>

<div class="col-sm-6">

<h4>Civilian Reserve Air Fleet (CRAF)</h4>
<ul>
	<li>Primary aircraft is B-767, configured in 18 hours</li> 
	<li>Offers dedicated, strategic AE</li> 
	<li>Reduces reliance on C-17 assets </li>
	<li>Planning factor is 100 patients</li>

</ul>

</div>

<div class="col-sm-6">
<h4>Aeromedical Staging Squadrons (ASTS) </h4>
<ul>
	<li>Locates at strategic interface airfields (normally EAC). Has cots/beds to accommodate overnight patient holding.</li> 
	<li>Provide patient reception, administrative processing, ground transportation, feeding, and limited medical care for patients entering, en route in, or leaving the aeromedical evacuation system.</li> 
	<li>Vary in capacity from 50 to 250 beds.</li> 
	<li>Not readily mobile</li> 
	<li>ASTS have physicians assigned.</li>


</ul>

</div>


<div class="col-sm-6">
<h4>Aeromedical Evacuation Operations Team (AEOT) </h4>
<ul>
	<li>Normally deploy to strategic interface airfields (frequently co-located with ASF).</li> 
	<li>Have dual intratheater and intertheater responsibilities, however primary mission orientation is strategic support.</li> 
	<li>Responsible for AE crew management, AE mission support activities, and management of AE equipment, supplies, and kits, to include assisting with returning AE kits and AE crew members to their stage/bed-down locations.</li>


</ul>

</div>
<div class="clear"></div>

<h3>Domestic Aeromedical Evacuation System</h3>
<p>Airlifts patients from aerial ports of entry/debarkation to and between federally operated medical facilities in the CONUS (includes from near offshore installations).</p>

<div class="col-sm-6">
<h4>C-9A:</h4>
<ul>
	<li>Only dedicated aeromedical aircraft</li>
	<li>Planning factor is 40 litter patients</li>
	<li>Use of onboard sophisticated medical equipment</li>
	<li>Frequent or multiple mission stops, i.e. 8-10 stops per mission</li>


</ul>

</div>

<div class="col-sm-6">
<h4>Responsibilities of Attending Physician</h4>
<ul>
	<li>Decision to transfer</li>
<li>Diagnoses (Medical Specialty Code/lCD-9 Code)</li>
<li>Assignment of patient movement precedence (Air Force precedence system).  Over-classification must be avoided to prevent unnecessary hardship to patients on flights that might be diverted. Proper evaluation can also avoid unnecessary, costly, hazardous, or special flights.

<ol>
	<li>Urgent.  For an emergency case which must be moved as soon as possible to save life or limb, or to prevent complication of a serious illness. Psychiatric or terminal cases with a very short life expectancy are not considered urgent</li>

		<li>Priority.  For patients requiring prompt medical care not available locally.  Such patients must be evacuated within 24 hours and delivered with the least possible delay</li>

		<li>Routine.  For patients who should be evacuated up within 72 hours and moved on routine or scheduled fligh</li>
	</ol>


</li>
<li>Assignment of patient classifications (litter, ambulatory, neuropsychiatric, infant, outpatient or attendant)</li>
<li>Determining need for attendants</li>
<li>Determining en-route treatment requirements</li>
<li>Obtain verification from the MTF/Patient Administration Office (through the Aeromedical Staging Flight personnel) regarding three-day supply of patient's medication and meals, medical equipment, medical records, baggage, protective mask, and valuables</li>
<li>Responsible for all medical care until patient reaches destination facility<b</li>


</ul>

</div>





</div>


</div>

















</div>







</div>

</div> <!-- end content right -->

</div>
</div>



<dmrpc-widget></dmrpc-widget>