<div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.sidr}}</h2>
                                    </div>


<div class="row person-wrapper">


<div class="intro-image">
		<img ng-src="{{pageimage.sidr}}" class="animated slideInUp" alt="SIDR">
		<p>{{title.sidr}}</p>
</div>


	<div class="content-right">

		<h4>References</h4>

<p>It is the responsibility of the Patient Administration Division (PAD) of the deployed medical treatment facility to ensure that complete and timely Standard Inpatient Data Records (SIDR) are transmitted to the Patient Administration Systems and Biostatistics Activity (PASBA) on a bi-monthly basis. Regulatory guidelines stipulate that the mid-month transmittal is due no later that the 20th of the current month and the end-of month transmittal is due no later than the 5th of the succeeding month</p>


<h4>Composite Health Care System (CHCS) Users</h4>
<p>Your SIDR files will be electronically transmitted to PASBA by the 5th. of the succeeding month. When the MTF rotates, the DMIS ID in the CHCS host will be changed by MC4 to that of the incoming MTF; therefore, it is essential that your patient dispositions be closed out in CHCS before the DMIS ID is changed. Any patients remaining in-bed during the rotation, will have a disposition DMIS ID of the unit on site at the time of disposition.</p>
<div class="clear"></div>

<h4>When Automation/Communication is not available...</h4>

<p>Your SIDR files will be entered into the central database by PASBA personnel using data provided by you in hard copy. For every inpatient admitted, deployed units are to complete and forward: </p>


<p>One legible copy of DA Form 3647, Inpatient Treatment Record Cover Sheet (ITRCS)</p>

<p>Page 1 of DA Form 2985, Admission and Coding Information to the Data Input Branch, Data Management Branch, PASBA, U.S. Army Medical Command (see mailing address below) at the end of each month using the sample transmittal cover memorandum.</p>

<h4>Additional Information</h4>

<p>*&nbsp;Please describe any injury incurred and its cause in field 33 of ITRCS (DA Form 3647) and/or field "For Local Use "on Admission and Coding Information (DA Form 2985-Page 1).</p>



<h4>Forms and Data Dictionaries</h4>


<div class="row center">
<div class="col-sm-4">
<p><a href="../deployment/DeployMedRecGuidance.pdf" class="info" target="_blank">DA FORM 3647</a><br/>
Inpatient Treatment Record Cover Sheet (ITRCS)</p>
</div>

<div class="col-sm-4">
<p><a href="../deployment/DeployMedRecComplete.pdf" class="info" target="_blank">ITRCS Data Dictionary</a></p>
</div>
<div class="col-sm-4">
<p><a href="../deployment/SA_refresher060126.ppt" class="powerpoint" target="_blank">Page 1 of DA Form 2985,</a><br/> 
Admission and Coding Information </p>
</div>
<div class="col-sm-4">
 <p><a href="http://www.apd.army.mil/" class="link" target="_blank">A&C Data Dictionary</a></p>
</div>

</div> <!-- end of row -->

<h4>Memorandum Instructions</h4>
<p>Prepare the <a href="../deployment/memorandum.doc" class="word" target="_blank">transmittal memorandum</a> in duplicate. It may be typed or legibly hand written. 
The original copy will be mailed, receipt requested (preferably certified mail), to PASBA. 
The second copy will be for your records. Upon receipt, Data Input Branch, PASBA will then send a message to the deployed unit, verifying that forms sent were received. 
Ensure that the proper point of contact, return address, telephone number (commercial and DSN), and e-mail address are annotated. 
Ensure that register numbers correspond with the Inpatient Treatment Record Cover Sheets (DA Form 3647) and Admission and Coding Information Form (DA Form 2985-Page 1) mailed to PASBA. </p>
<div class="ocl-xl-6 center">
<h4 class="email">Mailing Address</h4>

<p>DIRECTOR PASBA ATTN MCHS ISD</p>
<p>2404 STANLEY RD</p>
<p>FT SAM HOUSTON TX 78234-5053</p>

</div>

</div> <!-- end row -->



</div> <!-- end content right -->

</div> <!-- end person right -->
</div> <!-- end colspan -->



<dmrpc-widget></dmrpc-widget>