<div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.guidelines}}</h2>
                                    </div>


<div class="row person-wrapper">


<div class="intro-image">
		<img ng-src="{{pageimage.leveling}}" class="animated slideInUp">
		
</div>


	<div class="content-right">
		<h4 data-aos="fade-left">E & M Leveling Tool</h4>

<p data-aos="fade-left">Per PA&E directive, PASBA will conduct CARA audits using the <a href="../coding/EMLevelingTool.pdf">Army E/M Leveling Tool</a> at all AMEDD sites beginning with the January 2011 audit. The tool is an AMEDD/PASBA developed, modified version of an E/M leveling tool developed by Trailblazer Enterprises, LLC, a Medicare Administrative Carrier. Please refer to the <a href="../coding/VTC100426/ArmyEMLevelingTool_100426.ppt">Coding VTC</a> presentation on this subject, April 2010.</p>

<h4 data-aos="fade-left">CARA Audit Business Rules</h4>
<p data-aos="fade-left">The attached document is the current version of the <a href="../coding/CARAAuditBusRules.pdf">CARA Audit Business Rules</a> developed by the PASBA Coding and Training Section for CARA audits, mediations, and appeals. A template is provided to be used as  <a href="../coding/CARAAppealForm.doc">Facility Appeal Form (.doc)</a> - (use encrypted email message)</p>

<div class="clear"></div>


<div class="col-sm-8 pull-left">
<h4 data-aos="fade-right">UBU Coding Guidelines</h4>
<p data-aos="fade-right">The following guidelines are available as reference/guidance for MHS personnel when coding patient care on the MHS information systems. Look for this reference on the DHA/UBU link: <a href=" http://health.mil/Military-Health-Topics/Technology/Support-Areas/MHS-Specific-Coding-Guidelines" class="link">http://health.mil/Military-Health-Topics/Technology/Support-Areas/MHS-Specific-Coding-Guidelines</a></p>

<h4 data-aos="fade-right">DoD Unique Coding Considerations</h4>
<p data-aos="fade-right">There are several unique coding considerations that coders and billers face when coding or billing medical encounters in the DoD environment. While many of these issues are unheard of in the civilian community, they are important to the collection of biostatistical data in the investigation of population health issues for DoD.</p>

<p data-aos="fade-right">Occasionally, despite that advancement, some "work arounds" are required to allow us to proceed in our coding while a system change request (SCR) is in development.</p>


<p data-aos="fade-right">Please understand, the AMEDD position is coding accurately to the official guidelines (ICD10-CM, CPT/HCPCS, Coding Clinic, CPT Assistant, and many NCCI and CMS edits).</p>


</div>

<div class="col-sm-4" data-aos="fade-left">
<div class="body-image  pull-right">
	<img ng-src="{{pageimage.guildelines}}">
</div>
</div>
<p><a href="http://www.cdc.gov/nchs/icd/icd10cm.htm" class="link" data-aos="fade-right" target="_blank">ICD10-CM Official CDC Guidelines for Coding and Reporting Globe to indicate external web pages</a></p>
<div class="clear"></div>



<div class="row center">
	<h2>More Information</h2>
<div class="col-sm-4">
<p>Topic: ICD-10-CM<br/>
	<a href="http://www.cdc.gov/nchs/icd.htm" class="link" target="_blank">National Center for Health Statistics (NCHS)- Classifications of Diseases and Functioning & Disability Globe to indicate external web pages</a>
</p>
</div>

<div class="col-sm-4">
<p>Topic: HCPCS<br/>
	<a href="http://www.cms.hhs.gov/MedHCPCSGenInfo/" class="link" target="_blank">Center for Medicare and Medicaid (CMS)
- Healthcare Common Procedure Coding System (HCPCS) Globe to indicate external web pages</a>
</p>
</div>

<div class="col-sm-4">
<p>Topic: NCCI<br/>
	<a href="http://www.cms.hhs.gov/NationalCorrectCodInitEd/" class="link" target="_blank">National Correct Coding Initiative (NCCI) edits Globe to indicate external web pages</a>
</p>
</div>
<div class="col-sm-4">
 <p>Topic: CDC<br/>
	<a href="http://www.cdc.gov/nchs/icd/icd9cm_maintenance.htm" class="link" target="_blank">CDC - ICD9 Coordination and Maintenance Committee Globe to indicate external web pages</a>
</p>
</div>

</div> <!-- end of row -->
	</div>


			</div>



					</div>







</div>

</div> <!-- end content right -->

</div>
</div>



<coding-widget></coding-widget>