<div class="col-md-4 col-sm-4">

 							 <div class="widget">
                                <div class="widget-header">
                                    <h3>DMRPC Guide</h3>
                                </div>
                                <div class="widget-body apps-navigation">
                                  <ul>Guildance
                                    <li><a href="#/dmrpc">Deployment Guide Home</a></li>
                                    <li><a href="#/recordsrequest">Records Request Instructions</a></li>
                                    <li><a href="#/padpoliciesandguidance">PAD Policies and Guidance</a></li>
                                    <li><a href="#/medicalregulating">Medical Regulating</a></li>
                                    <li><a href="">SIDR</a></li>

                                </ul>

                                <ul>Counterintelligence Assist 
                                    <li><a href="https://www.inscom.army.mil/isalute">iSALUTE</a></li>
                                </ul>

                               <!--  <ul>Counterintelligence Assist
                                    <li>iSALUTE</li>
                                    </ul> -->
                                </div>
                            </div>

                         
                            <div class="widget">
                                <div class="widget-header">
                                    <h3>Records Request</h3>
                                </div>
                                <div class="widget-body">
                                  
                                    <a href="{{documents.recordsrequest}}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48"><path d="M19 9h-4V3H9v6H5l7 7 7-7z"></path><path d="M5 18v2h14v-2H5z"></path></svg></a>
                                
                                </div>
                            </div>
                          

                        </div>
