 <div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>Deployed Medical Records Processing Center</h2>
                                    </div>


<div class="row person-wrapper">

	<div class="intro-image">
		<img ng-src="{{pageimage.introimage}}" class="animated slideInUp">
<p>Deployed Medical Records Processing Center</p>
	</div>
	<div class="content-right">



<h4 data-aos="slide-left">The Deployed Medical Records Processing Center (DMPRC) provides expertise in the following areas:</h4>
<ul>
<li>{{icon}}Processing electronics patient records and workload data received from the US ARMY medical treatment facilities (MTFs) for input into the AMEDD central data repository and the MHS Data Repository (MDR).</li>

<li>Supports the Deployed MTFs by receiving and processing inpatient medical treatment records and retiring the completed records to the National Personnel Records (NRPC).</li>

<li>Supports the Deployed MTFs by receiving and processing miscellaneous outpatient medical documentation and preparing the documentation for final disposition to the AMEDD Records Processing Center (ARPC).</li>

<li>The DMRPC provides guidance and is the primary contact point on the management of medical documentation of military, Federal civilian employees, and other persons elegible for care in treatment facilities during contingency operations.</li>


<li>The DMRPC provides data for multiple PASBA applications and reports.</li>

</ul>


</div> <!-- end content right -->
</div>
</div>  
 <dmrpc-widget></dmrpc-widget>

 
                          
                          
                  