 <div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.regulate}}</h2>
                                    </div>


<div class="row person-wrapper">


<div class="intro-image">
		<img ng-src="{{pageimage.regulate}}" class="animated slideInUp">
		<p>{{title.regulate}}</p>
</div>


	<div class="content-right">

<p>Medical Regulating is a casualty-management system designed to coordinate the movement of patients - from the site of injury or onset of disease - through successive echelons of medical care to medical treatment facilities that can provide appropriate levels of medical treatment.</p>


<h4>Theater Evacuation Policy</h4>
<ul>

<li>Establishes, in number of days, the maximum period of non-effectiveness (hospitalization and convalescence) that patients may be held within the theater for treatment.</li>


<li>The evacuation policy is set by the Secretary of Defense with advice from the Joint Chiefs of Staff and recommendations from the Theater Commander.</li>


<li>The period starts when a patient is admitted to a corps-level hospital. </li>
</ul>

<div class="divider"></div>


<div class="row">
<div class="col-sm-6">
<h4>Specific Personnel Affected by Theater Evacuation Policy</h4>


<ul>
<li>Direct health-care provider - must determine if patient can remain in theater and be returned to unit.</li>


<li>Patient Administrator (PAD) - bed management and coordination for movement of patients affected by evacuation policy.</li>


<li>Combat health support planner - evacuation policy used to determine health service support needs (number and types of hospitals, evacuation battalions, etc.) 
Non-medical logisticians - must support the health service support elements.</li>


<li>Air Force - policy determines number of airplanes needed to support operation.</li>


<li>Combat Health Support (CHS) operator - policy affects how CHS operator supports the force.</li>
</ul>

</div>

<div class="col-sm-6">
<div class="body-image">
<img src="dmrpc/images/affected.svg">
</div>
</div>
</div>





<div class="row">

<div class="col-sm-6 pull-right">
<h4>Factors Determining the Evacuation Policy</h4>


<ul>
<li>Mission, Enemy, Terrain, Troops and Time (METT-T)</li>


<li>Patient Administrator (PAD) - bed management and coordination for movement of patients affected by evacuation policy.</li>


<li>Evacuation assets available</li>


<li>Availability of replacements</li>


<li>Availability of replacements resources</li>
</ul>

</div>

<div class="col-sm-6">
<div class="body-image">
<img src="dmrpc/images/time.svg">
</div>
</div>

</div>

<div class="row">
<div class="col-sm-6">
<h4>Impact of Evacuation Policy on CHS Requirements</h4>


<ul>
<li>Short Evacuation Policy
	<ol>
		 <li>Fewer hospital beds required in theater</li>
	          <li>Greater demand for evacuation assets</li>
	          <li>Increases requirements for replacements</li>
	          <li>Decreased Returned to Duty (RTD)</li>
	      </ol>
	  </li>

	  <li>Long Evacuation Policy
	  		<ol>
	  			<li>Larger CHS structure in TO</li>
	      <li>Increased RTD</li>
	      <li>Increased requirements for hospital construction and engineer support, etc.</li>
	  </ol>
	</li>
</ul>


</ul>

</div>

<div class="col-sm-6">
<div class="body-image">
<img src="dmrpc/images/impact.svg">
</div>
</div>




</div><!-- end of row -->


<div class="row center">
<div class="col-sm-6">
<h4>Adjustments to Evacuation Policy</h4>

<ul>

          <li>May be adjusted to retain or RTD those patients who do not require treatment in an EAC (echelon above corps) hospital</li>
          <li>Adjusted when increased patient loads are anticipated in order to make additional beds available</li>
</ul>

</div>


<div class="col-sm-6">
<h4>Planning for Medical Regulating</h4>

<ul>

         <li>Must be careful and detailed between three military Services; Army, Air Force, and Navy.</li>
		<li>Patient requires continuous care during evacuation.</li>
		<li>AMEDD relies on the Air Force and the Navy for long-range evacuation.<br/><br/></li>
</ul>

</div>

<div class="col-sm-6">
<h4>PControl:  Medical-regulating responsibilities:</h4>

<ul>

         <li>Tactical - Service MRO</li>
		<li>Theater - Joint Medical Regulating Office</li>
		<li>CONUS - Global Patient Movement Requirement Center (GPMRC)</li>
</ul>

</div>




<div class="col-sm-6">
<h4>Factors in Medical Regulating</h4>

<ul>

        <li>Careful control of patient evacuation to hospitals is necessary to effect an appropriate distribution of cases</li>
		<li>Establish adequate beds for current and anticipated needs</li>
		<li>Route patients requiring specialty treatment to the proper MTF</li>
</ul>

</div>

</div>

<div class="col-sm-4">
<p><a href="../deployment/SA_refresher060126.ppt" class="link">Army Training, 28 January 2005</a><br/> 
Subject: Army's Sexual Assault Prevention and Response Policy</p>
</div>
<div class="col-sm-4">
 <p><a href="http://www.apd.army.mil/" class="link">AR 40-66 Globe to indicate external web pages.</a> <br/>
Subject: Medical Records Administration and Health Care Documentation </p>
</div>

</div> <!-- end of row -->








</div>







</div>

</div> <!-- end content right -->

</div>
</div>



<dmrpc-widget></dmrpc-widget>