 <div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.pad}}</h2>
                                    </div>


<div class="row person-wrapper">


<div class="intro-image">
		<img ng-src="{{pageimage.pad}}" class="animated slideInUp">
		<p>{{title.pad}}</p>
</div>


	<div class="content-right">
<!-- <p>In order to facilitate the release of medical records, PASBA will follow this procedure:</p> -->



<h4>This guide includes:</h4>
<ul> 
	<li>Memorandum for Deployed Patient Administration Divisions</li>
<li>Subject: <a href="dmrpc/documents/ConsolDeployMedDoc100104.pdf" target="_blank">Consolidation of Deployed Medical Documentation Guidance, 4 January 2010</a> </li>
<li>Enclosure 1: Required Documentation and Medical Records Management </li>
<li>Enclosure 2: Service Treatment Records (STRs), Level-I, Level-II, Level-III and Final Disposition </li>
<li>Enclosure 3: Inpatient Treatment Records and Final Disposition </li>
<li>Enclosure 4: Detainees Inpatient and Outpatient Treatment Record and Final Disposition </li>
</ul>
<div class="clear: both"></div><br/>
<h2>Other References</h2>

<div class="row center">
<div class="col-sm-4">
<p><a href="../deployment/DeployMedRecGuidance.pdf" class="link">Memorandum, Assistant Surgeon General For Force Projection, 6 May 2004</a><br/>
Subject: Deployed Medical Documentation Guidance/Reporting Requirements</p>
</div>

<div class="col-sm-4">
<p><a href="../deployment/DeployMedRecComplete.pdf" class="link">Memorandum, Assistant Secretary of Defense, Health Affairs, 11 April 2003</a><br/>
Subject: Safeguarding Deployment Medical Records</p>
</div>
<div class="col-sm-4">
<p><a href="../deployment/SA_refresher060126.ppt" class="link">Army Training, 28 January 2005</a><br/> 
Subject: Army's Sexual Assault Prevention and Response Policy</p>
</div>
<div class="col-sm-4">
 <p><a href="http://www.apd.army.mil/" class="link">AR 40-66 Globe to indicate external web pages.</a> <br/>
Subject: Medical Records Administration and Health Care Documentation </p>
</div>

</div> <!-- end of row -->


<p>Use of Forms DD 2766 and DD 2766C</p>

<p>The AR 40-66 has been updated and published by DA Headquarters. Changes on the use of DD Forms 2766 (Adult Preventive and Chronic Care Flow Sheet) and DD Form 2766C (Adult Preventive and Chronic Care Flow- Continuation Sheet) have been incorporated. </p>

</div> <!-- end content right -->

</div>
</div>

<dmrpc-widget></dmrpc-widget>