 <div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.sharing}}</h2>
                                    </div>


<div class="row person-wrapper">

	<div class="intro-image">
		<img ng-src="{{pageimage.sharing}}" class="animated slideInUp" alt="Data Analysis Sharing">
<p>{{title.sharing}}</p>
	</div>
	
	<div class="content-right">
<div class="divider"></div>
<p>Contact <a href="mailto:usarmy.jbsa.medcom-pasba.list.pasba-data-use-agreements@mail.mil?subject=DUA Assistance" class="mail">usarmy.jbsa.medcom-pasba.list.pasba-data-analysis@mail.mil</a> for assistance with data use or Data Sharing Agreements.</p>  


</div> <!-- end content right -->
</div>
</div>  
 <dataanalysis-widget></dataanalysis-widget>

 
                          
                          
                  