<div class="col-md-4 col-sm-4">

 							 <div class="widget">
                                <div class="widget-header">
                                    <h3>Data Analysis</h3>
                                </div>
                                <div class="widget-body apps-navigation">
                                  <ul>Guildance
                                    <li><a href="#/dmrpc">Deployment Guide Home</a></li>
                                    <li><a href="#/recordsrequest">Data Analysis Support</a></li>
                                    <li><a href="#/padpoliciesandguidance">Data Sources</a></li>
                                    <li><a href="#/medicalregulating">Data Sharing Agreements</a></li>
                                    

                                </ul>

                            

                               <!--  <ul>Counterintelligence Assist
                                    <li>iSALUTE</li>
                                    </ul> -->
                                </div>
                            </div>

                         
                            <div class="widget">
                                <div class="widget-header">
                                    <h3>Other Resources</h3>
                                </div>
                                <div class="widget-body links">

                                    
                                </div>
                            </div>
                          

                        </div>
