 <div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.home}}</h2>
                                    </div>


<div class="row person-wrapper">

	<div class="intro-image">
		<img ng-src="{{pageimage.introimage}}" class="animated slideInUp">
<p>{{title.home}}</p>
	</div>
	
	<div class="content-right">

<h4>Mission</h4>  

<p>Provides timely and useful healthcare data and expert data analysis to assist the Department of Defense, US Army, US Army Medical Command, and individual customers in providing the best healthcare for our beneficiaries.<p>  

	<h4>We accomplish this mission by providing:</h4>

<ul style="float: left">

	  <li>Support for clinical operations</li>
	  <li>Support to the M2 functional community</li>
	  <li>Staff Assistance Visits regarding workload and Relative Value Units</li>
	  <li>Data analysis support for clinical research projects</li>
	  <li>Data Extracts and Reports</li>
	  <li>Assist with TMA data sharing agreements</li>


</ul>




</div> <!-- end content right -->
</div>
</div>  
 <dataanalysis-widget></dataanalysis-widget>

 
                          
                          
                  