<div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.organization}}</h2>
                                    </div>


<div class="row person-wrapper">

	<div class="intro-image">
		<img ng-src="{{pageimage.organization}}" class="animated slideInUp" alt="Professional Organization">
<p>{{title.organization}}</p>
	</div>
	<div class="content-right">
<h4>Membership in the following organizations may be beneficial to you.</h4>

<p><a href="http://www.ahima.org/" class="link" target="blank"><b>AHIMA</b> - American Health Information Management Association (AHIMA)</a></p>

<p><a href="https://www.aapc.com/" class="link" target="blank"><b>AAPC</b> - American Academy of Professional Coders (AAPC)</a></p>

</div>

</div>

</div>







<coding-widget></coding-widget>