 <div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.aboutus}}</h2>
                                    </div>


<div class="row about-wrapper">

	<div class="about-intro-image">
		<img ng-src="{{pageimage.logo}}" class="animated slideInUp">

	</div>
	<div class="content-right">

<div class="qoute">
<p>Where Inspiration... Meets Inovation</p>
</div>

<h2>Mission</h2>
<p style="font-size: 23px">Improve Army Medicine by Providing Medical Coding and Auditing, Data Quality, Analytics, and Deployment Record Services.</p>

<h2>Vision</h2>
<p style="font-size: 23px">Lead the Evolution of Healthcare through Clinical and Business Operations for a Ready and Reliable Force</p>


<div class="aboutus-header"><h2>Sections</h2></div>

<hr/>


<div class="row contain blue" data-aos="flip-down">
<h3>Data Quality</h3>
	<div class="col-md-8 pull-left">
		
		<p>Serves as the AMEDD's executing agency for the Military Health System (MHS) Data quality Management Control Program providing oversight to improve the accuracy and timely submission of data uniformly across the AMEDD.</p>

		<p>Consolidates Military Treatment Facility (MTF) data in compliance with Department of Defense and MHS/TRICARE Management Activity data.</p>

		<p>Conducts Staff Assistance Visits to all MTFs to review and provide "corporate business practices" to enhance the MTFs Data Quality initiatives and improve their overall operational efficiency and effectiveness.</p>

	</div>

	<div class="col-md-4 pull-right">
		<img ng-src="{{pageimage.dataquality}}">
	</div>

</div>

<div class="row contain orange" data-aos="flip-down">
<h3>Coding/Training</h3>
	<div class="col-md-8 pull-right">
		
		<p>The Army's lead agent for providing coding guidance and policy to all Military Treatment Facilities in both the deployed and fixed facilities. We accomplish this mission by providing:</p>

		<ul>
			<li>Staffing and support of a coding help desk.</li> 
			<li>Development of the Military Health System and AMEDD coding guidelines.</li> 
			<li>Development of medical records policies.</li> 
			<li>Collaboration with the Office of the Surgeon General's Clinical Consultants on policy for their specific field.</li> 
		</ul>


	</div>

	<div class="col-md-4 pull-left">
		<img ng-src="{{pageimage.coding}}">
	</div>

</div>


<div class="row contain green" data-aos="flip-down">
<h3>Development</h3>
	<div class="col-md-8 pull-left">
		
		<p>Provides a primary support role to PASBA, AMEDD and Military Health System leadership by:</p>

		<ul>
			<li>Maintaining the AMEDD's electronic data warehouse for Army patient data. </li>
			<li>Providing Information Assurance services ensuring availability, integrity, and confidentiality of the data. </li>
			<li>Providing rapid response to "Just-in-Time" Web-enabled application and reporting requests until the enterprise solutions can be funded, executed, and delivered. </li>
			<li>Providing direct support to deployed medical units. </li>

		</ul>


	</div>

	<div class="col-md-4 pull-left">
		<img ng-src="{{pageimage.development}}">
	</div>

</div>

<div class="row contain amber" data-aos="flip-down">
<h3>Data Analysis</h3>
	<div class="col-md-8 pull-right">
		
		<p>Provides timely and useful healthcare data and expert data analysis to assist the Department of Defense, US Army, US Army Medical Command, and individual customers in providing the best healthcare for our beneficiaries. We accomplish this mission by providing:</p>

		<ul>
			<li>Data analysis support for clinical research projects. </li>
			<li>Support for clinical operations.</li> 
			<li>Support to the M2 functional community. </li>
			<li>Staff Assistance Visits regarding workload and Relative Value Unit. </li>


		</ul>


	</div>

	<div class="col-md-4 pull-left">
		<img ng-src="{{pageimage.dataanalysis}}">
	</div>

</div>


<div class="row contain yellow" data-aos="flip-down">
<h3>Data Input </h3>
	<div class="col-md-8 pull-left">
		
		<p>Provides expertise in processing electronic patient records and workload data received from US Army Medical Treatment Facilities (MTFs) for input into the AMEDD central data repository maintained by PASBA. Supports the deployed MTFs by processing inpatient medical treatment records. This service includes:</p>

		<ul>
			<li>Diagnosis and procedure coding. </li>
			<li>Data entry into the AMEDD central repository. </li>
			<li>Record scanning. </li>
			<li>Record retirement to the National Personnel Record Center in St. Louis, Missouri. </li>


		</ul>


	</div>

	<div class="col-md-4 pull-right">
		<img ng-src="{{pageimage.datainput}}">
	</div>

</div>

</div> <!-- end content right -->
</div>
</div>  

 

 
                          
                          
                  