 <div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.contactus}}</h2>
                                    </div>


<div class="row person-wrapper">
  <div class="filter">

                                <label><h4>Search Contacts</h4></label><input type="text" placeholder="contact name" ng-model="searchcontacts">
   </div> 

   <!-- START GENERAL -->

   <div id="guildance"></div>
	<h4>General Guidance</h4>
	  <table class="responsive-table">
    
    <thead>
      <tr>
        <th scope="col">General Guidance</th>
        <th scope="col">Email</th>
        <th scope="col">Fax</th>
        
        
      </tr>
    </thead>
    <tfoot>
      
    </tfoot>
    <tbody>
      <tr ng-repeat="contact in general | filter:searchcontacts">
        <th scope="row">{{contact.contactname}}</th>
        <td data-title="Released"><a href="mailto: {{contact.contactemail}}" class="email">{{contact.contactemail}}</a></td>
        <td data-title="Studio">{{contact.fax}}</td> 
      </tr>
     
     
      
      
    </tbody>
  </table>

  <div class="clear"></div>

  <!-- START FUNCTIONAL -->
<div id="functional"></div>
  <h4>Functional Assistance</h4>
	  <table class="responsive-table">
    
    <thead>
      <tr>
        <th scope="col">Functional Assistance</th>
        <th scope="col">Email</th>
        <th scope="col">Fax</th>
        
        
      </tr>
    </thead>
    <tfoot>
      
    </tfoot>
    <tbody>
      <tr ng-repeat="contact in functional | filter:searchcontacts">
        <th scope="row">{{contact.contactname}}</th>
        <td data-title="Released"><a href="mailto: {{contact.contactemail}}" class="email">{{contact.contactemail}}</a></td>
        <td data-title="Studio">{{contact.fax}}</td> 
      </tr>
     
     
      
      
    </tbody>
  </table>
	
</div>
</div>  
 <about-widget></about-widget>

 
                          
                          
                  