  <div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.dqmcprogram}}</h2>
                                    </div>


<div class="row person-wrapper">


	<div class="intro-image">
		<img ng-src="{{pageimage.dqmcprogram}}" class="animated slideInUp" alt="DQMCP program">
<p>{{title.dqmcprogram}}</p>
	</div>
	<div class="content-right">
		
		<h4>M2 Data Quality Error Reports</h4>
		
			<p>The Data Quality Management Control Program (DQMCP) is a Tri-Service program to improve the overall quality of financial and clinical information for all patients of military treatment facilities.</p>

		<h4>End of Day Processing</h4>
			<p>Data Quality Managers work independently and with a data quality assurance team to develop, manage and control various data capture and data quality processes.  Responsible for submitting completed Data Quality Statement and Review List to the MTF Commander.</p>

		
		<h4>MTF Commanders</h4>
		
			<p>The MTF commanders review and approve their Data Quality Statement. They ensure monitoring mechanisms and corrective actions have been taken to improve the quality of data from their facility.</p>

			

<div class="clear"></div>
	<div class="row">

		<div class="col-xs-6 col-md-4 pull-right" data-aos="fade-left" data-aos-anchor="row">
			<img ng-src="{{pageimage.certified}}" class="medium-image">
		</div>
		<div class="col-xs-12 col-md-8" data-aos="fade-right" data-aos-anchor="row">
				<h4>RHC Commanders</h4>
				<p>The RHCs consolidate the reports and brief the Regional Medical Commanders. The RMC Commanders will attest to the status of the MTFs data quality by submitting a Quarterly Certification Statement. This statement will be forwarded to the MEDCOM DQ Manager.</p>
		</div>

	</div> <!-- end row -->



	<div class="row">

		
		<div class="col-xs-6 col-md-4 pull-left" data-aos="fade-right" data-aos-anchor="row">
				<img ng-src="{{pageimage.meeting}}" class="medium-image">
		</div>

		<div class="col-xs-12 col-md-8" data-aos="fade-left" data-aos-anchor="row">
			
			<h4>Tri-Service DQM/OTSG</h4>
				<p>The TMA Management Control Program Office is responsible for conducting periodic meetings with the Service DQ Managers to review Service-level deficiencies and ensure a common understanding of the program requirements. The TMA will also ensure appropriate metrics and results from Service submissions are briefed to the Resource Management Steering Committee and Deputy Surgeons General as appropriate.</p>
		</div>





	</div> <!-- end row -->

                 </div> <!-- end content right -->
             </div> <!-- end row -->

             </div> <!-- end col -->

                    <dq-widget></dq-widget>