<div class="col-md-4 col-sm-4" sticky-nav="ng-sticky-fixed">

 							 <div class="widget">
                                <div class="widget-header">
                                    <h3>HIMS and Coding</h3>
                                </div>
                                <div class="widget-body apps-navigation">
                                    
                                  <ul>
                                    <li><a href="#/coding" ng-class="{activelink: isActive('/coding')}">HIMS and Coding Home</a></li>
                                    <li><a href="#/codingguildelines" ng-class="{activelink: isActive('/codingguildelines')}">Coding Guidelines</a></li>
                                    <li><a href="#/codinghelpdesk" ng-class="{activelink: isActive('/codinghelpdesk')}">Coding Help Desk</a></li>
                                    <li><a href="#/codingcompliance" ng-class="{activelink: isActive('/codingcompliance')}">Coding Compliance</a></li>
                                    <li><a href="#/education" ng-class="{activelink: isActive('/education')}">Education and Training - Webinar</a></li>
                                    <li><a href="#/prodevelopment" ng-class="{activelink: isActive('/prodevelopment')}">Prof. Developement</a></li>
                                    <li><a href="#/proorganinization" ng-class="{activelink: isActive('/proorganinization')}">Prof. Organizations</a></li>
                                    <li><a href="#/references" ng-class="{activelink: isActive('/references')}">References</a></li>
                                    <li><a href="#/recordsrequest">Medical Record - how can I get it?</li>
                                </ul>

                            

                               <!--  <ul>Counterintelligence Assist
                                    <li>iSALUTE</li>
                                    </ul> -->
                                </div>
                            </div>

                         
                            <div class="widget">
                                <div class="widget-header">
                                    <h3>Other Resources</h3>
                                </div>
                                <div class="widget-body">

                                  <ul>
                                    <li><a href="http://www.ahima.org/" class="link" target="blank">AHIMA</a></li>
                                    <li><a href="http://www.aapc.com/" class="link" target="blank">AAPC</a></li>
                                    <li><a href="http://www.cms.gov/" class="link" target="blank">CMS</a></li>
                                    <li><a href="http://www.cdc.gov/nchs/" class="link" target="blank">CDC/NCHS</a></li>
                                    <li><a href="https://mhs.health.mil/toc" class="link" target="blank">JCGWG(Previously UBU)</a></li>
                                    <li><a href="http://cms.hhs.gov/Medicare/Coding/NationalCorrectCodInitEd/index.html" class="link" target="blank">CMS/NCCI</a></li>
                                    <li><a href="http://www.cms.gov/Medicare/Coding/MedHCPCSGenInfo/index.html" class="link" target="blank">CMS/HCPCS</a></li>
                                    <li><a href="http://www.who.int/en/" class="link" target="blank">WHO</a></li>
                                    

                                </ul>

                                    
                                </div>
                            </div>
                          

                        </div>
