<div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.compliance}}</h2>
                                    </div>


<div class="row person-wrapper">

	 <div class="intro-image">
		<img ng-src="{{pageimage.compliance}}" class="animated slideInUp" alt="Coding Compliance">
<p>{{title.compliance}}</p>
	</div> 
	<div class="content-right">


<div class="row">
	
<div class="col-sm-7">
<h4>Management Standards for Medical Coding of DoD Health Records</h4>
	<p><a href="../coding/DoD Instruction604042p.pdf" target="_blank" class="info">DoD Instruction 6040.42, Management Standards For Medical Coding Of DoD Health Records</a></p>

<!-- <p>Enclosures: <a href="../coding/CodingTrendingCharts1007.pdf" target="_blank" class="info">CARA Trending Charts</a>&nbsp;|&nbsp;<a href="../coding/PlainWrongMTF1007.pdf" target="_blank" class="info">Just Plain Wrong Charts </a> </p> -->
</div>

<!-- <div class="col-sm-7">
<h4>Coding and Billing</h4>
	<p><a href="../coding/CodingBillingCompl.pdf" target="_blank" class="info">Memorandum, OTSG/MEDCOM, 12 December 2011 </a></p>
<p>Subject: Coding and Billing Compliance Policy </p>

</div>

<div class="col-sm-7">
<h4>Other Policies, Memorandums</h4>
	<p><a href="../coding/ADMComplianceReportInstr.pdf" target="_blank" class="info">ADM Compliance Report Instructions</a></p>
<p>Subject: Instructions and CHCS screen shots for running the ADM Encounter Specific Compliance Report to find the number of incomplete records to determine the TMA seventy-two hour compliance for outpatients visits.</p>

</div> -->


</div> <!-- end of row -->

</div> <!-- end content right -->
</div>
</div>  
 <coding-widget></coding-widget>