<div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.education}}</h2>
                                    </div>


<div class="row person-wrapper">
  <div class="filter">
<ul>
  <li><a href="" smooth-scroll target="newsletter" offset="80">Coding Newsletter</a></li>
  <li>|</li>
  <li><a href="" smooth-scroll target="videoteleconference" offset="80">Videoteleconference (Webinar)</a></li>
</ul>
                                <!-- <label><h4>Search Training</h4></label><input type="text" placeholder="contact name" ng-model="searchcontacts"> -->
   </div> 
<h3 style="text-align: center; clear: both">Education and Training by year</h3 style="text-align: center">

<div class="intro-image-center" >
  <img src="{{pageimage.education}}" class="animated slideInleft">

</div>


  

   <!-- START VTC -->



   <div id="videoteleconference"></div>
	<h4>Videoteleconference (Webinar)</h4>


<button class="accordion">2016</button>
<div class="panel">
  <table class="responsive-table">
    
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Topic</th>
        
        
      </tr>
    </thead>

     <tbody>
      <tr ng-repeat="item in training2016 | filter:searchcontacts" class="animate-repeat">
        <th scope="row">{{item.date}}</th>
        <td data-title="Released"><a href="{{item.link}}" class="info" target="_blank">{{item.topic}}</a></td>
      </tr>
    </tbody>
    </table>
</div>

<button class="accordion">2015</button>
<div class="panel">
   <table class="responsive-table">
    
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Topic</th>
        
        
      </tr>
    </thead>

     <tbody>
      <tr ng-repeat="item in training2015 | filter:searchcontacts" class="animate-repeat">
        <th scope="row">{{item.date}}</th>
        <td data-title="Released"><a href="{{item.link}}" class="info" target="_blank">{{item.topic}}</a></td>
      </tr>
    </tbody>
    </table>
</div>

<button class="accordion">2014</button>
<div id="foo" class="panel">
 <table class="responsive-table">
    
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Topic</th>
        
        
      </tr>
    </thead>

     <tbody>
      <tr ng-repeat="item in training2014 | filter:searchcontacts" class="animate-repeat">
        <th scope="row">{{item.date}}</th>
        <td data-title="Released"><a href="{{item.link}}" class="info" target="_blank">{{item.topic}}</a></td>
      </tr>
    </tbody>
    </table>
</div>

<button class="accordion">2013</button>
<div id="foo" class="panel">
   <table class="responsive-table">
    
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Topic</th>
        
        
      </tr>
    </thead>

     <tbody>
      <tr ng-repeat="item in training2013 | filter:searchcontacts" class="animate-repeat">
        <th scope="row">{{item.date}}</th>
        <td data-title="Released"><a href="{{item.link}}" class="info" target="_blank">{{item.topic}}</a></td>
      </tr>
    </tbody>
    </table>
</div>

<button class="accordion">2012</button>
<div id="foo" class="panel">
   <table class="responsive-table">
    
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Topic</th>
        
        
      </tr>
    </thead>

     <tbody>
      <tr ng-repeat="item in training2012 | filter:searchcontacts" class="animate-repeat">
        <th scope="row">{{item.date}}</th>
        <td data-title="Released"><a href="{{item.link}}" class="info" target="_blank">{{item.topic}}</a></td>
      </tr>
    </tbody>
    </table>
</div>

<button class="accordion">2011</button>
<div id="foo" class="panel">
  <table class="responsive-table">
    
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Topic</th>
        
        
      </tr>
    </thead>

     <tbody>
      <tr ng-repeat="item in training2011 | filter:searchcontacts" class="animate-repeat">
        <th scope="row">{{item.date}}</th>
        <td data-title="Released"><a href="{{item.link}}" class="info" target="_blank">{{item.topic}}</a></td>
      </tr>
    </tbody>
    </table>
</div>

<button class="accordion">2010</button>
<div id="foo" class="panel">
  <table class="responsive-table">
    
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Topic</th>
        
        
      </tr>
    </thead>

     <tbody>
      <tr ng-repeat="item in training2010 | filter:searchcontacts" class="animate-repeat">
        <th scope="row">{{item.date}}</th>
        <td data-title="Released"><a href="{{item.link}}" class="info" target="_blank">{{item.topic}}</a></td>
      </tr>
    </tbody>
    </table>
</div>
<div class="clear"></div>


<!-- start newsletter -->

<div id="newsletter"></div>
  <h4>Coding Newsletter</h4>
	
<button class="accordion">2013</button>
<div class="panel">
  <table class="responsive-table">
    
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Volume/Issue</th>
        
        
      </tr>
    </thead>

     <tbody>
      <tr ng-repeat="item in newsletter2013 | filter:searchcontacts" class="animate-repeat">
        <th scope="row">{{item.date}}</th>
        <td data-title="Released"><a href="{{item.link}}" class="info" target="_blank">{{item.volume}}</a></td>
      </tr>
    </tbody>
    </table>
</div>


<button class="accordion">2012</button>
<div class="panel">
  <table class="responsive-table">
    
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Volume/Issue</th>
        
        
      </tr>
    </thead>

     <tbody>
      <tr ng-repeat="item in newsletter2012 | filter:searchcontacts" class="animate-repeat">
        <th scope="row">{{item.date}}</th>
        <td data-title="Released"><a href="{{item.link}}" class="info" target="_blank">{{item.volume}}</a></td>
      </tr>
    </tbody>
    </table>
</div>




</div>
</div>

<coding-widget></coding-widget>