 <div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.professional}}</h2>
                                    </div>


<div class="row person-wrapper">


<div class="intro-image">
		<img ng-src="{{pageimage.professional}}" class="animated slideInUp">
		<p>{{title.professional}}</p>
</div>


	<div class="content-right">
<!-- <p>In order to facilitate the release of medical records, PASBA will follow this procedure:</p> -->
<h4>The following are sample position descriptions for coding professionals.</h4>




<div class="row">


<div class="col-sm-6">
<h4>Registered HIM Professionals</h4>
<p><a href="http://www.ahima.org/certification/rhia.aspx" class="link" target="_blank">AHIMA - Registered Health Information Administrator (RHIA)</a><br/>
<a href="http://www.ahima.org/certification/rhit.aspx" class="link" target="_blank">AHIMA - Registered Health Information Technician (RHIT) Certification</a></p>
</div>

<div class="col-sm-6">
<h4>Coders and Supervisors</h4>
<p><a href="../coding/profDevCoderPD-09A.pdf" class="info" target="_blank">GS-0669-09</a> Supervisory Medical Records Technician <br/>
<a href="../coding/profDevCoderPD-08A.pdf" class="info" target="_blank">GS-0675-08</a> Certified Ambulatory Coder </p>
</div>

<div class="col-sm-6">
<h4>Coding Certifications</h4>
<p><a href="http://www.ahima.org/certification/cca.aspx" target="_blank" class="link">AHIMA - Certified Coding Associate (CCA)</a><br/>   
<a href="http://www.ahima.org/certification/ccs.aspx" target="_blank" class="link">AHIMA - Certified Coding Specialist (CCS) </a><br/>  
<a href="http://www.ahima.org/certification/ccsp.aspx" target="_blank" class="link">AHIMA - Certified Coding Specialist - Physician based (CCS-P)</a><br/>   
 <a href="http://www.aapc.com/certification/cpc.aspx" target="_blank" class="link">AAPC - Certified Professional Coder (CPC)</a><br/>   
<a href="http://www.aapc.com/certification/cpc-h.aspx" target="_blank" class="link">AAPC - Certified Professional Coder-Hospital (CPC-H)</a><br/>  
 <a href="http://www.aapc.com/certification/cpc-p.aspx" target="_blank" class="link">AAPC - Certified Professional Coder-Payer (CPC-P)</a><br/>  
<a href="http://www.aapc.com/certification/CIRCC.aspx" target="_blank" class="link">AAPC - Certified Interventional Radiology Cardiovascular Coder (CIRCC)</a><br/> 


</p>
</div>

<div class="col-xl-6">
<h4>Others</h4>
<p><a href="http://cpol.army.mil/library/train/acteds/" class="link" target="-blank">ACTEDS - ARMY Civilian Training, Education and Development System</a><br/>
<a href="https://actnow.army.mil/" class="link" target="-blank">ACT - ARMY Career Tracker</a></p>
</div>




</div> <!-- end of row -->



</div> <!-- end content right -->

</div>
</div>




<coding-widget></coding-widget>