 <div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.references}}</h2>
                                    </div>


<div class="row person-wrapper">





	<div class="content-right">

<div class="row">
	<h4 style="text-align: center">OASD</h4>
<div class="col-sm-4">
	
<p><a href="../coding/CancelPolonBilling_100811.pdf" class="info" target="_blank">Memorandum, OASD (HA), 11 August 2010</a><br/>
Subject: Observation Care Services</p>
</div>

<div class="col-sm-4">
<p><a href="http://www.health.mil/~/media/MHS/Policy%20Files/Import/05-013.ashx" class="info" target="_blank">Memorandum, OASD (HA), 4 August 2005</a><br/>
	Subject: Interim policy memorandum on electronic records and electronic signatures for clinical documentation

</div>

<div class="col-sm-4">
<p><a href="../coding/OASD-CPT99199.pdf" class="info" target="_blank">Memorandum, OASD (HA), 14 Sept. 2004</a><br/>
	Subject: Use of CPT Code 99199

</div>

<div class="col-sm-4">
<p><a href="../coding/OASDGuidance0206.pdf" class="info" target="_blank">Memorandum, OASD (HA), 14 June 2002</a><br/>
	Subject: Guidance on automated systems of the MHS usage

</div>


</div>

<div class="clear"></div>



<div class="row center">

	
<div class="col-sm-4">
	<h4 style="text-align: center">OTSG</H4>
<p><a href="https://www.us.army.mil/suite/collaboration/GetDocument.do?doid=39111115" class="link" target="_blank">Memorandum, OTSG/MEDCOM, 30 January, 2013</a><br/>
Subject: Policy Memorandum on AHLTA Scanning Guidance</p>
</div>


<div class="col-sm-4">
	<h4 style="text-align: center">OTJAG</H4>
<p><a href="../coding/OTJAGOpinionASAP060714.pdf" class="info" target="_blank">Memorandum, OTJAG, 14 July 2006</a><br/>
Subject: OTJAG opinion on alcohol and drug abuse medical records stored in AHLTA electronic medical records.</p>
</div>


<div class="col-sm-4">
	<h4 style="text-align: center">DoD</H4>
<p><a href="http://www.dtic.mil/whs/directives/corres/ins1.html" class="link" target="_blank">DOD Instruction 6040.42, 10 June 2004</a><br/>
Subject: Medical encounter coding at military treatment facilities</p>
</div>



</div>



</div>


<div class="clear"></div>

<div class="row">
	<h4 style="text-align: center">Other</h4>
<div class="col-sm-4">
	
<p><a href="../coding/ADMComplianceReportInstr.pdf" class="info" target="_blank">ADM Compliance Report Instructions</a><br/>
Step-by step instructions for running the ADM encounter-specific compliance report.</p>
</div>

<div class="col-sm-4">
<p><a href="../coding/EMGuidance1997.pdf" class="info" target="_blank">E and M Guidance, 1997</a><br/>
	Subject:1997 Documentation Guidance on Evaluation and Management Services.

</div>

<div class="col-sm-4">
<p><a href="../coding/SARS2.pdf" class="info" target="_blank">Coding Guidance for SARS</a><br/>
	Subject: Codes to be used when coding Severe Adult Respiratory Syndrome (SARS)
</div>


</div>





</div> <!-- end content right -->

</div>
</div>




<coding-widget></coding-widget>