<div class="col-md-4 col-sm-4">

 							 <div class="widget">
                                <div class="widget-header">
                                    <h3>Data Analysis</h3>
                                </div>
                                <div class="widget-body apps-navigation">
                                    <h4>Guidance</h4>
                                  <ul>
                                    <li><a href="#/dataanalysis" ng-class="{activelink: isActive('/dataanalysis')}">Data Analysis Home</a></li>
                                    <li><a href="#/dataanalysissupport" ng-class="{activelink: isActive('/dataanalysissupport')}">Data Analysis Support</a></li>
                                    <li><a href="#/dataanalysissources" ng-class="{activelink: isActive('/dataanalysissources')}">Data Sources</a></li>
                                    <li><a href="#/dataanalysissharing" ng-class="{activelink: isActive('/dataanalysissharing')}">Data Sharing Agreements</a></li>
                                    

                                </ul>

                            

                               <!--  <ul>Counterintelligence Assist
                                    <li>iSALUTE</li>
                                    </ul> -->
                                </div>
                            </div>

                         
                            <div class="widget">
                                <div class="widget-header">
                                    <h3>Other Resources</h3>
                                </div>
                                <div class="widget-body">

                                  <ul>
                                    <li><a href="http://www.health.mil/Military-Health-Topics/Technology/Support-Areas/MDR-M2-ICD-Functional-References-and-Specification-Documents" class="link" target="blank">M2/MDR Data Dictionaries</a></li>
                                    <li><a href="http://www.cdc.gov/healthyweight/assessing/bmi/" class="link" target="blank">BMI Calculations</a></li>
                                    <li><a href="http://www.tricare.mil/tma/tai/" class="link" target="blank">Access Success</a></li>
                                    <li><a href="http://tricare.mil/tma/dhcape/data/wisdom.aspx" class="link" target="blank">WISDOM</a></li>
                                    <li><a href="https://mhs.health.mil/toc" class="link" target="blank">TRICARE Operations Center (TOC)</a></li>
                                    <li><a href="http://www.tricare.mil/tma/gri/dmis" class="link" target="blank">DMIS ID Tables</a></li>
                                    <li><a href="http://www.tricare.mil/tma/dhcape/data/ubu.aspx" class="link" target="blank">UBU</a></li>
                                    <!-- <li><a href="http://www.health.mil/Education_and_Training.aspx" class="link" target="blank">Education and Training</a></li> -->
                                    

                                </ul>

                                    
                                </div>
                            </div>
                          

                        </div>
