 <div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.sources}}</h2>
                                    </div>


<div class="row person-wrapper">
	  <table class="responsive-table">
    
    <thead>
      <tr>
        <th scope="col">Data Type</th>
        <th scope="col">Datasets</th>
        <th scope="col">Inclusive Date</th>
        <th scope="col">Remarks</th>
        
      </tr>
    </thead>
    <tfoot>
      
    </tfoot>
    <tbody>
      <tr>
        <th scope="row">Inpatient</th>
        <td data-title="Released">Standard Inpatient Data Records (SIDR)</td>
        <td data-title="Studio">Jan 1989 - Present</td>
        <td data-title="Worldwide Gross" data-type="currency">PASBA receives copies of the SIDR feeds from all ARMY MTFs. Inpatient MTFs are required to transmit the SIDR twice a month on the 5<sup>th.</sup>and the 20<sup>th.</td>
        
      </tr>
      <tr>
        <th scope="row">Outpatient</th>
        <td data-title="Released">Standard Ambulatory Data Record (SADR)</td>
        <td data-title="Studio">Oct. 1985 - Sept. 2012</td>
        <td data-title="Worldwide Gross" data-type="currency">PASBA received daily copies of the SADR feeds from all Army MTFs. The SADR has been replaced by the CAPER.</td>
        
      </tr>
      <tr>
        <th scope="row">Outpatient</th>
        <td data-title="Released">Comprehensive Ambulatory/Professional Encounter Record (CAPER)</td>
        <td data-title="Studio">Oct. 2010 - Present</td>
        <td data-title="Worldwide Gross" data-type="currency">PASBA receives copies of the CAPER feeds from all ARMY MTFs daily. The CAPER replaced the SADR and it is a more comprehensive set of data elements (256 vs. 64) for the outpatient encounter.</td>
        
      </tr>
      <tr>
        <th scope="row">Appointment</th>
        <td data-title="Released">Daily Outpatient Workload Daily Report (DOWDR)</td>
        <td data-title="Studio"></td>
        <td data-title="Worldwide Gross" data-type="currency">PASBA receives the DOWDR from all ARMY MTFs daily.</td>
        
      </tr>
      <tr>
        <th scope="row">Theater</th>
        <td data-title="Released">TMDS</td>
        <td data-title="Studio"></td>
        <td data-title="Worldwide Gross" data-type="currency">PASBA receives daily outpatient files and weekly inpatient files.</td>
        
      </tr>
      <tr>
        <th scope="row">Multiple</th>
        <td data-title="Released">MHS MART (M2)</td>
        <td data-title="Studio">2007 - Present</td>
        <td data-title="Worldwide Gross" data-type="currency">The M2 contains numerous data sets and it is accessed using Business Objects XI (BOXI). This same data set is available to analysts at most locations.</td>
       
      </tr>
      <tr>
        <th scope="row">Multiple</th>
        <td data-title="Released">MHS Data Repository (MDR)</td>
        <td data-title="Studio">Varies by file</td>
        <td data-title="Worldwide Gross" data-type="currency">The MDR is a SAS programming environment and access limited. All MHS data is processed into the MDR before being put into M2. Some data sets are only available in the MDR.</td>
        
      </tr>
      
      
      
    </tbody>
  </table>
	
</div>
</div>  
 <dataanalysis-widget></dataanalysis-widget>

 
                          
                          
                  