 <div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.support}}</h2>
                                    </div>


<div class="row person-wrapper">

	<div class="intro-image">
		<img ng-src="{{pageimage.support}}" class="animated slideInUp" alt="Data Analysis Support">
<p>{{title.support}}</p>
	</div>
	
	<div class="content-right"> 

<p>The Data Analysis Branch of PASBA can assist you with the following services:</p> 

<ul>

	  <li>Requests for inpatient and ambulatory (SIDR and CAPER) patient data</li> 
      <li>Requests for population counts</li> 
	  <li>Consultation on the development of M2 queries</li>


</ul>
<!-- <div class="clear"></div> -->
<div class="row">
<h4>Submit your requests for assistance to:</h4>
<p><a href="mailto:usarmy.jbsa.medcom-pasba.list.pasba-data-analysis@mail.mil" class="mail">usarmy.jbsa.medcom-pasba.list.pasba-data-analysis@mail.mil</a></p>
</div>


<p><b>Note:</b> We will email the PASBA Data Analysis requirement worksheet to you to document the requirements.
You may also be required to complete a Data Use Agreement for your request.</p>


</div> <!-- end content right -->
</div>
</div>  
 <dataanalysis-widget></dataanalysis-widget>

 
                          
                          
                  