<div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.home}}</h2>
                                    </div>


<div class="row person-wrapper">

	<div class="intro-image">
		<img ng-src="{{pageimage.introimage}}" class="animated slideInUp" alt="Data Quality">
<p>{{title.home}}</p>
	</div>
	<div class="content-right">


<h4>Data Quality Management Control Program (DQMCP)</h4>
<p>The Data Quality Management Control Program (DQMCP) provides internal management controls for Military Medical Treatment Facilities (MTFs) in an effort to provide standard process across the Military Health System (MHS) for the complete, timely, and accurate submission of healthcare, labor, and resources data.  The metrics within the DQMCP provide performance measures with achievable goals that if not met would have a detrimental impact on healthcare data or the revenue cycle.</p>


<h4> We determined the data quality attributes listed below give a true picture of data quality:</h4>
<ul class="linkinline" data-aos="fade-left" data-aos-anchor="row">
        <li>Accuracy </li>
        <li>Reliability</li>
        <li>Completeness</li>
        <li>Legibility</li>
        <li>Currency</li>
        <li>Timeliness</li>
        <li>Meaning</li>
        <li>Accessibility</li>

</ul>


</div> <!-- end content right -->
</div>
</div>  
 <dq-widget></dq-widget>