<div class="col-md-4 col-sm-4" sticky-nav="ng-sticky-fixed-myapps" ignore-element-size>

               <div class="widget">
                                <div class="widget-header">
                                    <h3>Data Quality</h3>
                                </div>
                                <div class="widget-body apps-navigation">
                                  <h4>Navigation</h4>
                                  <ul>
                                    <li><a href="#/dataquality" ng-class="{activelink: isActive('/dataquality')}">Data Quality Home</a></li>
                                    <li><a href="#/dqmcprogram" ng-class="{activelink: isActive('/dqmcprogram')}">DQMCP</a></li>
                                    <li><a href="#/dqmcpolicies" ng-class="{activelink: isActive('/dqmcpolicies')}">DQ Policy/Regs</a></li>
                                    <li><a href="#/dqguidelines" ng-class="{activelink: isActive('/dqguidelines')}">DQ Guidelines</a></li>
                                    <li><a href="#/dqprogrammetrics" ng-class="{activelink: isActive('/dqprogrammetrics')}">DQMCP Metrics</a></li>
                                     <!-- <li><a href="../quality/resources/dqmcpUserGuide.pdf" target="_blank">DQMC User's Manual</a></li> -->
                                      <li><a href="../quality/resources/FY17DQMCPDataQualityStatementUserGuideFINAL.pdf" target="_blank">DQMCP User's Manual</a></li>
                                       <!--<li><a href="../quality/resources/dqMgrList.xls" target="_blank">DQ Managers List</a></li>-->
                                        <li><a href="#/faq" ng-class="{activelink: isActive('/faq')}">DQ FAQ</a></li>

                                </ul>

                               

                               <!--  <ul>Counterintelligence Assist
                                    <li>iSALUTE</li>
                                    </ul> -->
                                </div>
                            </div>

                         
                            <div class="widget">
                                <div class="widget-header">
                                    <h3>Other Resources</h3>
                                </div>
                                <div class="widget-body treeview">


<div class="css-treeview">
    <ul>
        <li><input type="checkbox" id="item-0" /><label for="item-0">References</label>
           
               
                
                    <ul ng-repeat="item in References">
                        <li><a href="{{item.link}}" target="_blank">{{item.name}}</a></li>
                    </ul>
                </li>

                <li><input type="checkbox" id="item-1" /><label for="item-1">Guidance</label>

                    <ul ng-repeat="item in Guildance">
                        <li><a href="{{item.link}}" target="_blank">{{item.name}}</a></li>
                       
                    </ul>
                </li>

                <li><input type="checkbox" id="item-2" /><label for="item-2">Templates</label>

                    <ul ng-repeat="item in Templates">
                        <li><a href="{{item.link}}" target="_blank">{{item.name}}</a></li>
    
                    </ul>
                </li>
              
                <li><input type="checkbox" id="item-3" /><label for="item-3">DQ POC</label>

                    <ul ng-repeat="item in POC">
                        <li><a href="{{item.link}}" target="_blank">{{item.name}}</a></li>
                        
                    </ul>
                </li>

                 <li><input type="checkbox" id="item-4" /><label for="item-4">Training</label>

                    <ul ng-repeat="item in Training">
                        <li><a href="{{item.link}}" target="_blank">{{item.name}}</a></li>
                        
                    </ul>
                </li>

                 <li><input type="checkbox" id="item-5" /><label for="item-5">Others</label>

                    <ul ng-repeat="item in Others">
                        <li><a href="{{item.link}}" target="_blank">{{item.name}}</a></li>
                       
                    </ul>
                </li>
        </ul>


</div>


                                 <!--  <div
      data-angular-treeview="true"
      data-tree-id="mytree"
      data-tree-model="roleList"
      data-node-id="roleId"
      data-node-label="roleName"
      data-node-children="children"
      data-search-query='treeSearchQuery'>
    </div> -->


                                  
                                    
                                
                                </div>
                            </div>
                          

                        </div>

           
                            <script>


 </script>       

                        
