<div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.faq}}</h2>
                                    </div>


<div class="row person-wrapper">

	<div class="intro-image">
		<img ng-src="{{pageimage.faq}}" class="animated slideInUp" alt="FAQ">
<p>{{title.faq}}</p>
	</div>
	<div class="content-right">


<!-- OLD<p><a href="../quality/Resources/dqFAQFY14.pdf" class="info" target="_blank">Data Quality Management Control Program (DQMCP) FAQ FY14</a></p>  -->
<p><a href="../quality/Resources/FY16DQMCPDataQualityStatementUserGuide29June2016.pdf" class="info" target="_blank">DQMCP User's Guide Prior Year (FY16)</a></p>
<p><a href="../quality/Resources/FY17DQMCPDataQualityStatementUserGuide8JUNE2016.pdf" class="info" target="_blank">DQMCP User's Guide Current Year (FY17)</a></p>
<!--<p><a href="../quality/Resources/FAQHowToTrackSADRTransmissions.doc" class="info" target="_blank">How To Track SADR/CAPER Transmissions</a></p> -->
<p><a href="../quality/Resources/DoDRecordsFAQ0501.doc" class="info" target="_blank">DoDD/DoDI Medical Records Quality Improvement Initiative FAQ</a></p> 


</div> <!-- end content right -->
</div>
</div>  
 <dq-widget></dq-widget>