<div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.faq}}</h2>
                                    </div>


<div class="row person-wrapper">

	<div class="intro-image">
		<img ng-src="{{pageimage.faq}}" class="animated slideInUp">
<p>{{title.faq}}</p>
	</div>
	<div class="content-right">


<p><a href="../quality/Resources/dqFAQFY14.pdf" class="link">Data Quality Management Control Program (DQMCP) FAQ FY14</a></p> 
<p><a href="../quality/Resources/FAQHowToTrackSADRTransmissions.doc" class="link">How To Track SADR/CAPER Transmissions</a></p> 
<p><a href="../quality/Resources/DoDRecordsFAQ0501.doc" class="link">DoDD/DoDI Medical Records Quality Improvement Initiative FAQ</a></p> 


</div> <!-- end content right -->
</div>
</div>  
 <dq-widget></dq-widget>