  <div class="col-md-8 col-sm-8">

                              <div class="section-header" id="dmrpchome">
                                        <h2>{{title.policies}}</h2>
                                    </div>


<div class="row person-wrapper">


	<div class="intro-image">
		<img ng-src="{{pageimage.regulations}}" class="animated slideInUp">
<p>{{title.policies}}</p>
	</div>
	<div class="content-right">
		
	<div class="row center">
		
			<h4>Implementation Plan for Data Quality Management Control Program</h4>
		

		
			<p><a href="../quality/resources/DQGuidance4.pdf"class="info" target="_blank">Memorandum, MEDCOM, 27 February 2001</a></p>
			<p>Subject: Implementation Plan for DQMCP</p>


		
			<h4>Letters of appointment templates for additional duty assignment:</h4>
		

		
			<p><a href="../quality/resources/DQMgr_ApptLetter.pdf" class="info" target="_blank">Data Quality Manager</a></p>
			<p><a href="../quality/resources/DQTeamMbr_ApptLetter.doc" class="info" target="_blank">Data Quality Team Member</a> </p>
		
		<div style="text-align: center">
			<h4>Other Policies and Memorandums</h4>
		

		
			<p><a href="http://www.dtic.mil/whs/directives/corres/ins1.html" class="link" target="_blank">DODI 6040.43 Custody and Control of Outpatient Medical Records, 10 June 2004 Globe to indicate external web pages.
</a></p>
			<p><a href="http://www.dtic.mil/whs/directives/corres/ins1.html" class="link" target="_blank">DODI 6040.42 Medical Encounter Coding at Military Treatment Facilities, 10 June 2004</a> </p>

			<p style="margin-left: 417px"><a href="http://www.dtic.mil/whs/directives/corres/ins1.html" class="link" target="_blank">DODI 6040.40 MMHS DQMC Procedures, 26 November 2002</a></p>

			</div>
		

	</div>

	<div class="clear"></div>
<div class="row">
<div class="col-sm-4">
<p><a href="../quality/Resources/MemoCustControlOPDRec030722.pdf" class="info" target="_blank">Memorandum, Assistant Secretary of the Army, 20 August 2003</a></p>
<p>Subject: Improving Medical Records Coding at Military Treatment Facilities</p>

</div>

<div class="col-sm-4">
<p><a href="../quality/Resources/MGFarmerMemo030326.pdf" class="info" target="_blank">Memorandum, MG Farmer, 26 March 2003</a></p>
<p>Subject: Requirement to Identify, Document and Update Beneficiary Insurance Information </p>
</div>

<div class="col-sm-4">
<p><a href="../quality/resources/TMAdqmc.pdf" class="info" target="_blank">Memorandum, OASD (HA), 29 November 2000</a></p>
<p>Subject: Policy Memo - DQMC Program</p>
</div>


</div>






	

                 </div> <!-- end content right -->
             </div> <!-- end row -->

             </div> <!-- end col -->

                    <dq-widget></dq-widget>