.gallery-container {
    width: 100%;
    position: relative;
    height: auto;
    background: rgba(19,99,162,0.2);
    padding: 32px;
    overflow: hidden;
}

.gallery-wrapper
{
    width: 100%;
    /*background: #000;*/
    margin: auto
}

#image-set img {
    width: 25%;
    clear: both;
    padding: 3px 3px 3px 3px;
    display: inline-block;
    border: 9px solid #fff;
    min-width: 329px;
    box-shadow: 7px 5px 11px #888;
}

/* carousel */


.rowcar {
	width:100%;
	margin:0 auto;
	display:block;
	position:relative;
}

.carouselwrap {
	position:relative;
	width:100%;
	max-width:1400px;
	/*overflow:hidden;*/
	margin:0 auto;
}

.carousel {
	position:relative;
	/*overflow:hidden;*/
	white-space:nowrap;
   font-size: 0;
}

.carousel .item {
	display:inline-block;
	text-align:center;
	margin:0;
	padding:0;
	/*overflow:hidden;*/
	vertical-align:top;
}

.ic_active
/*/*{*/*/
     transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
}

.carousel .item img {
	opacity:.6;
	max-height:350px;
}

.carousel .item .mainimg {
	opacity:1;
}

.ic_title {
	width:100%;
	background:#F8F8F8;
	text-align:center;
	margin-top: 10px
}

.ic_title p {
	padding: 8px 0px;
    background: #3A0101;
    color: #fff;
    font-size: 21px;
}

.back_btn {
	padding:20px;
	position:absolute;
	left:10px;
	z-index:50000000;
	top:40%;
	cursor:pointer
}

.next_btn {
	padding:20px;
	position:absolute;
	right:10px;
	z-index:50000000;
	top:40%;
	cursor:pointer
}

.no_select,.next_btn:hover
{
    background-color: #116BAB;
    transition: all 0.2s ease;
    -webkit-transition: transition: all 0.2s ease;
    -moz-transition: transition: all 0.2s ease;
    
}

.no_select, .back_btn:hover
{
    background-color: #116BAB;
    transition: all 0.2s ease;
    -webkit-transition: transition: all 0.2s ease;
    -moz-transition: transition: all 0.2s ease;
}

.no_select {
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-color: #3A0101;
	color: #fff
}